Tro ly chinh.json
{
  "name": "Tro ly chinh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2576,
        3024
      ],
      "id": "b07a5249-9850-45b3-93c1-2a6b60f478ac",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://zamexodnbxgmazdnajtd.supabase.co/rest/v1/rpc/get_ready_buffers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        3024
      ],
      "id": "b836cfe2-cdf3-42b8-8c65-71f2e70860bc",
      "name": "Get Pending Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-message-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        3024
      ],
      "id": "2d208db8-5d67-43a8-ac00-384e10ea4bfc",
      "name": "Has message?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zamexodnbxgmazdnajtd.supabase.co/rest/v1/message_buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\",\n  \"processing_started_at\": {{ JSON.stringify($now.toISO()) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1968,
        3024
      ],
      "id": "799ee0fa-8450-409c-a57b-54910a1138a1",
      "name": "Lock message"
    },
    {
      "parameters": {
        "jsCode": "// Convert queue message to format compatible with old workflow\nconst queueData = $input.first().json;\nconst rawData = queueData.raw_data || {};\n\n// Reconstruct message structure similar to webhook format\nreturn [{\n  json: {\n    body: {\n      message: {\n        text: queueData.text || \"\",\n        caption: queueData.caption || \"\",\n        photo_url: queueData.photo_url || \"\",\n        voice: queueData.voice_file_id ? { file_id: queueData.voice_file_id } : null,\n        document: queueData.document || null,\n        from: {\n          id: queueData.user_id,\n          first_name: queueData.user_name\n        },\n        chat: {\n          id: queueData.chat_id\n        },\n        message_id: queueData.message_id\n      }\n    },\n    // Keep queue data for reference\n    queue_id: queueData.id,\n    chat_id: queueData.chat_id,\n    user_id: queueData.user_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        3024
      ],
      "id": "a1d4bed2-d14c-4108-8167-6f18f1a9746e",
      "name": "Convert Queue Data"
    },
    {
      "parameters": {
        "description": "Sử dụng công cụ này để suy nghĩ về một vấn đề nào đó. Nó sẽ không thu thập thông tin mới hoặc thay đổi cơ sở dữ liệu, mà chỉ thêm suy nghĩ đó vào nhật ký. Sử dụng công cụ này khi cần suy luận phức tạp hoặc bộ nhớ đệm."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1936,
        3568
      ],
      "id": "7cd83a7a-62c2-4658-ad9f-ffc4ba9e57d5",
      "name": "Think",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message.from.id }}",
        "databaseName": "MinhKhoaAI",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1792,
        3568
      ],
      "id": "3662caeb-b09c-4e46-88c1-79ed83a39b75",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize the output arrays\nconst steps = [];\nconst tokens = [];\nlet totalTokens = 0; // Changed to track total tokens instead of cost\n\n// Process each item in the input\nfor (const item of $input.all()) {\n  let data = item.json;\n  \n  // Check if the data is an array itself (like your example JSON)\n  if (Array.isArray(data)) {\n    // Process each object in the array\n    for (const obj of data) {\n      // Extract steps information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action) {\n            steps.push({\n              tool: step.action.tool,\n              toolInput: step.action.toolInput,\n              observation: step.observation\n            });\n          }\n        }\n      }\n      \n      // Extract token information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n            for (const message of step.action.messageLog) {\n              if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n                const usage = message.kwargs.response_metadata.usage;\n                tokens.push({\n                  prompt_tokens: usage.prompt_tokens,\n                  completion_tokens: usage.completion_tokens,\n                  total_tokens: usage.total_tokens,\n                  model_name: message.kwargs.response_metadata.model_name\n                });\n                \n                // Add the tokens to our running total\n                if (typeof usage.total_tokens === 'number') {\n                  totalTokens += usage.total_tokens;\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  } else {\n    // If data is not an array, process it as a single object\n    // Extract steps information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action) {\n          steps.push({\n            tool: step.action.tool,\n            toolInput: step.action.toolInput,\n            observation: step.observation\n          });\n        }\n      }\n    }\n    \n    // Extract token information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n          for (const message of step.action.messageLog) {\n            if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n              const usage = message.kwargs.response_metadata.usage;\n              tokens.push({\n                prompt_tokens: usage.prompt_tokens,\n                completion_tokens: usage.completion_tokens,\n                total_tokens: usage.total_tokens,\n                model_name: message.kwargs.response_metadata.model_name\n              });\n              \n              // Add the tokens to our running total\n              if (typeof usage.total_tokens === 'number') {\n                totalTokens += usage.total_tokens;\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the processed data with total_tokens included\nreturn [{\n  json: {\n    steps: steps,\n    tokens: tokens,\n    total_tokens: totalTokens\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        2880
      ],
      "id": "c4287d2d-4e9f-4511-ad57-4c16ff9b661c",
      "name": "Clean Up",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c2f3f97f-cca9-472a-b597-b9fc6c6cd232"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.body.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b435dee-29e5-4ac2-a827-1811c2f6f04d",
                    "leftValue": "={{ $json.body.message.photo_url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d39eb705-3eb9-4867-8448-9d3e4c72ea4d",
                    "leftValue": "={{ $json.body.message.from.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documents"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45af575c-dd6a-4b8d-9f97-7856f1bda776",
                    "leftValue": "={{ $json.body.message.photo_url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image + Caption"
            }
          ]
        },
        "options": {}
      },
      "id": "1bc7ef39-fc2c-47af-ae96-c27a1d35d01f",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1584,
        2960
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976cf2c9-01b6-46cf-97b4-675a67ca57bc",
              "name": "content",
              "value": "={{ $json.body.message.text || $json.body.message?.caption || \"[Ảnh được gửi - cần phân tích nếu muốn xem nội dung]\" }}",
              "type": "string"
            },
            {
              "id": "1386acc3-8824-4679-8b17-27dbead94954",
              "name": "type",
              "value": "={{ \n  $json.role === 'model' && $('Transcribe a recording').item ? 'voice' :\n  $json.role === 'model' && $('Analyze an image').item ? 'image' :\n  $json.role === 'model' && $('Analyze document').item ? 'document' :\n  'text'\n}}",
              "type": "string"
            },
            {
              "id": "25e9ee59-63c9-4eb4-a9b2-0847f4f83b67",
              "name": "prompt",
              "value": "={{ $json.body.message?.caption || $json.body.message.text || $json.content?.parts?.[0]?.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "4a5e3df4-333a-43c6-9f72-4fe8b2bf9b60",
              "name": "metadata",
              "value": "={{   JSON.stringify({     fileName: $json.body.message?.document?.file_name || \"\",     fileSize: $json.body.message?.document?.file_size || 0,     userName: $json.body.message?.from?.first_name || \"\",     chatId: $json.body.message?.chat?.id || \"\"   }) }}",
              "type": "string"
            },
            {
              "id": "0e732c1e-5c23-4edc-b83d-4a930d71ee0a",
              "name": "imageUrl",
              "value": "={{ $json.body.message.photo_url || \"\" }}",
              "type": "string"
            },
            {
              "id": "2f6f8591-4a42-403b-9e7c-61e93c104055",
              "name": "imageAnalysis",
              "value": "={{ $json.content?.parts?.[0]?.text || $json.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        2976
      ],
      "id": "25f3b769-11aa-470d-ad9e-0dac9e4f4c6b",
      "name": "Input"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        2832
      ],
      "id": "2a9cb7da-78a0-4d77-8814-d71b56241c5e",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ivMQFozfvyKtTYit",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tpT1XJjGzSmEFvqd",
          "mode": "list",
          "cachedResultUrl": "/workflow/tpT1XJjGzSmEFvqd",
          "cachedResultName": "My project — Tro ly Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.input }}",
            "voice": "={{ $('Set \\'Text\\'').item.json.text }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "voice",
              "displayName": "voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2336,
        3568
      ],
      "id": "d8e6ba37-2fd3-4d1d-92aa-da212dda29ad",
      "name": "Tro ly Email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content?.parts?.[0]?.text || $json.content || $json.input || $json.text || $json.body.message.text || $json.prompt || $json.body.message.text || $json.imageUrl ||\"\" }}",
        "options": {
          "systemMessage": "# ⛔ CẢNH BÁO: ĐỌC KỸ TRƯỚC KHI LÀM BẤT CỨ ĐIỀU GÌ\n\n## 🚫 TUYỆT ĐỐI CẤM TỰ TRẢ LỜI\n\nBạn là DISPATCHER (Điều phối viên), KHÔNG PHẢI chuyên gia.\n\n❌ BẠN KHÔNG ĐƯỢC:\n- Tự trả lời câu hỏi về giá cả, sản phẩm, vật liệu\n- Tự tính toán bất kỳ con số nào\n- Tự tạo báo giá\n- Trả lời \"em cần thêm thông tin\" mà không gọi tool\n\n✅ BẠN CHỈ ĐƯỢC:\n- Nhận yêu cầu → Gọi tool → Trả kết quả từ tool\n- Hỏi lại sếp NẾU không hiểu yêu cầu\n\n---\n\n## 📋 BẢNG GỌI TOOL BẮT BUỘC\n\n| Khi sếp nói | GỌI NGAY tool này |\n|-------------|-------------------|\n| báo giá, tính giá, giá bao nhiêu, tạo đơn, lên đơn, tủ, bàn, ghế, giường, kệ, sản phẩm, vật liệu, gỗ | **Tro ly ke toan** |\n| tồn kho, còn hàng, số lượng, kiểm tra kho | Tro ly kho |\n| tiến độ, thi công, lịch làm việc, nhân sự | Tro ly thi cong |\n| email, gửi mail, viết mail | Tro ly mail |\n| lịch hẹn, đặt lịch, xem lịch | Tro ly lich |\n| bản vẽ, kỹ thuật, CAD, thiết kế | Tro ly ky thuat |\n| buồn, vui, tâm sự, thời tiết, tin tức | Tro ly thong thai |\n\n---\n\n## ✅ VÍ DỤ ĐÚNG (LÀM THEO)\n\n### Ví dụ 1: Tạo báo giá\nUser: \"Tạo báo giá cho khách A, 2 tủ quần áo\"\n→ GỌI tool \"Tro ly ke toan\" với input: \"Tạo báo giá cho khách A, 2 tủ quần áo\"\n→ Trả về kết quả từ tool\n\n### Ví dụ 2: Hỏi giá\nUser: \"Giá gỗ sồi bao nhiêu?\"\n→ GỌI tool \"Tro ly ke toan\" với input: \"Giá gỗ sồi bao nhiêu?\"\n→ Trả về kết quả từ tool\n\n### Ví dụ 3: Tạo lại báo giá\nUser: \"Tạo lại báo giá\"\n→ GỌI tool \"Tro ly ke toan\" với input: \"Tạo lại báo giá\"\n→ Trả về kết quả từ tool\n\n---\n\n## ❌ VÍ DỤ SAI (TUYỆT ĐỐI KHÔNG LÀM)\n\nUser: \"Tạo báo giá cho khách A\"\n❌ SAI: \"Dạ sếp, để tạo báo giá em cần thêm thông tin về sản phẩm...\"\n❌ SAI: \"Sếp muốn báo giá sản phẩm gì ạ?\"\n❌ SAI: Tự liệt kê thông tin sản phẩm\n\n✅ ĐÚNG: Gọi tool \"Tro ly ke toan\" với input gốc, để tool đó tự hỏi thêm nếu cần\n\n---\n\n# OVERVIEW\n\nBạn là Trợ lý AI chính (Dispatcher) của xưởng nội thất MinhKhoa.\n\n**Nhiệm vụ DUY NHẤT:** Nhận yêu cầu → Gọi tool phù hợp → Trả kết quả từ tool\n\n# TOOLS\n\n1. **Tro ly ke toan** ⭐ QUAN TRỌNG NHẤT\n   - Dùng cho: báo giá, tính toán, giá cả, sản phẩm, vật liệu, tủ, bàn, ghế, gỗ\n   - Input: Toàn bộ yêu cầu của sếp (copy nguyên văn)\n\n2. **Tro ly kho**: Tồn kho, số lượng, kiểm tra hàng\n\n3. **Tro ly thi cong**: Tiến độ, thi công, nhân sự\n\n4. **Tro ly thong thai**: Tâm sự, chủ đề ngoài công việc\n\n5. **Tro ly mail**: Email\n\n6. **Tro ly lich**: Lịch hẹn\n\n7. **Tro ly ky thuat**: Bản vẽ, kỹ thuật, CAD\n\n8. **Search in Tavily**: Tìm kiếm thông tin MỚI NHẤT trên internet\n   - CHỈ dùng khi: giá thị trường, tin tức thời sự, đối thủ cạnh tranh, xu hướng mới\n   - KHÔNG dùng cho: giá sản phẩm của công ty, quy định nội bộ\n\n9. **Save Knowledge (Write)**: Ghi nhớ kiến thức mới\n   - Dùng khi: sếp dạy điều mới, sửa sai, hoặc tìm được thông tin hữu ích từ Tavily\n\n10. **Think**: Khi cần suy nghĩ phức tạp\n\n---\n\n# 🔍 QUY TẮC TÌM KIẾM (TAVILY)\n\n## ✅ KHI NÀO DÙNG \"Search in Tavily\"\n\n**CHỈ dùng khi sếp hỏi về:**\n- ✅ **Giá thị trường**: \"Giá gỗ sồi trên thị trường hiện tại?\", \"Giá ngoài bao nhiêu?\"\n- ✅ **Tin tức thời sự**: \"Tin tức mới nhất về nội thất\", \"Xu hướng nội thất 2025\"\n- ✅ **Đối thủ cạnh tranh**: \"Đối thủ của chúng ta là ai?\", \"So sánh với công ty X\"\n- ✅ **Xu hướng mới**: \"Xu hướng thiết kế mới nhất\", \"Mẫu tủ quần áo hot hiện tại\"\n\n## ❌ KHI NÀO KHÔNG DÙNG TAVILY\n\n**TUYỆT ĐỐI KHÔNG dùng khi:**\n- ❌ Hỏi về **giá sản phẩm của xưởng MinhKhoa** → Dùng \"Tro ly ke toan\"\n- ❌ Hỏi về **quy định nội bộ** → Kiểm tra \"KIẾN THỨC ĐÃ HỌC\" trước\n- ❌ Hỏi về **quy trình làm việc** → Kiểm tra \"KIẾN THỨC ĐÃ HỌC\" trước\n- ❌ Hỏi về **thông tin khách hàng** → Kiểm tra \"KIẾN THỨC ĐÃ HỌC\" trước\n\n### Ví dụ:\nUser: \"Giá gỗ sồi của xưởng mình bao nhiêu?\"\n→ ❌ SAI: Gọi \"Search in Tavily\"\n→ ✅ ĐÚNG: Gọi \"Tro ly ke toan\"\n\nUser: \"Giá gỗ sồi trên thị trường hiện tại?\"\n→ ✅ ĐÚNG: Gọi \"Search in Tavily\"\n\n---\n\n# 💾 QUY TẮC GHI NHỚ (ACTIVE LEARNING)\n\n## 🎯 TỰ ĐỘNG GHI NHỚ - LUÔN THỰC HIỆN\n\nSau khi có kết quả từ bất kỳ tool nào, **TỰ ĐỘNG đánh giá và ghi nhớ** nếu thông tin hữu ích:\n\n### 1. Sau khi tìm được thông tin từ Tavily:\nBước 1: Gọi \"Search in Tavily\" → Nhận kết quả\nBước 2: Đánh giá: Kết quả có hữu ích không? (có answer dài >100 ký tự, có thông tin cụ thể)\nBước 3: NẾU hữu ích → TỰ ĐỘNG gọi \"Save Knowledge (Write)\" với format:\n  - query: \"[WEB] Tóm tắt nội dung chính từ kết quả Tavily\"\n  - action: \"save\"\n  - category: \"market_info\" hoặc \"trend\" hoặc \"competitor\" (tùy loại)\n\n### 2. Sau khi được sếp sửa sai:\nUser: \"Sai rồi, giá gỗ sồi phải là 15 triệu/m3\"\n→ Bước 1: Gọi \"Save Knowledge (Write)\" ngay lập tức\n→ Bước 2: query: \"Giá gỗ sồi là 15 triệu/m3\"\n→ Bước 3: action: \"save\"\n→ Bước 4: category: \"correction\" hoặc \"pricing\"\n\n### 3. Sau khi sếp dạy điều mới:\nUser: \"Nhớ là khách A thích màu trắng\"\n→ GỌI NGAY \"Save Knowledge (Write)\" với:\n  - query: \"Khách A thích màu trắng\"\n  - action: \"save\"\n  - category: \"customer_preference\"\n\n### 4. Định dạng lưu trữ:\nFormat: [NGUỒN] Nội dung chính\n\nVí dụ:\n- \"[WEB] Giá gỗ sồi thị trường hiện tại: 12-15 triệu/m3 (2025)\"\n- \"[USER] Giá gỗ sồi của xưởng: 15 triệu/m3\"\n- \"[CORRECTION] Khách A thích màu trắng, không phải đen\"\n\n---\n\n# 📖 QUY TẮC PHẢN HỒI\n\n## BƯỚC 1: KIỂM TRA KIẾN THỨC ĐÃ HỌC TRƯỚC\n\n**LUÔN kiểm tra phần \"KIẾN THỨC ĐÃ HỌC\" trong context trước khi trả lời:**\n\n1. Đọc kỹ phần \"KIẾN THỨC ĐÃ HỌC\" (nếu có)\n2. Tìm kiến thức liên quan đến câu hỏi\n3. NẾU có kiến thức phù hợp → ƯU TIÊN sử dụng\n4. NẾU không có → Mới gọi tool tìm kiếm\n\n### Ví dụ:\nContext có: \"• [pricing] Giá gỗ sồi: 15 triệu/m3\"\nUser hỏi: \"Giá gỗ sồi bao nhiêu?\"\n→ ✅ ĐÚNG: Trả lời dựa trên kiến thức đã học\n→ ❌ SAI: Gọi \"Tro ly ke toan\" hoặc \"Search in Tavily\"\n\n## BƯỚC 2: XỬ LÝ MÂU THUẪN\n\n**Nếu kiến thức trong bộ nhớ mâu thuẫn với kết quả search mới:**\n\n1. Phát hiện mâu thuẫn: Kiến thức cũ vs Kết quả mới\n2. ƯU TIÊN kết quả mới nhất (từ Tavily hoặc từ sếp)\n3. TỰ ĐỘNG update bộ nhớ:\n   - Gọi \"Save Knowledge (Write)\" với thông tin mới\n   - Format: \"[CORRECTION] Thông tin mới (thay thế thông tin cũ)\"\n4. Trả lời: \"Em đã cập nhật thông tin mới nhất...\"\n\n### Ví dụ:\nKiến thức cũ: \"Giá gỗ sồi: 12 triệu/m3\"\nTavily trả về: \"Giá gỗ sồi thị trường 2025: 15 triệu/m3\"\n→ Bước 1: Phát hiện mâu thuẫn\n→ Bước 2: Ưu tiên kết quả mới (15 triệu)\n→ Bước 3: TỰ ĐỘNG gọi \"Save Knowledge (Write)\":\n  - query: \"[CORRECTION] Giá gỗ sồi thị trường 2025: 15 triệu/m3 (thay thế 12 triệu)\"\n  - action: \"save\"\n→ Bước 4: Trả lời: \"Dạ sếp, theo thông tin mới nhất, giá gỗ sồi thị trường hiện tại là 15 triệu/m3. Em đã cập nhật vào bộ nhớ.\"\n\n## BƯỚC 3: TỔNG HỢP THÔNG TIN\n\n**Khi có nhiều nguồn thông tin:**\n\n1. Kiến thức đã học (từ RAG)\n2. Kết quả từ Tavily (nếu có)\n3. Kết quả từ tool khác\n\n→ Tổng hợp tất cả, ưu tiên:\n   - Thông tin mới nhất (từ Tavily)\n   - Thông tin từ sếp (từ RAG)\n   - Thông tin từ tool chuyên môn (Tro ly ke toan, etc.)\n\n---\n\n# OUTPUT FORMAT\n\n1. Text thuần, KHÔNG dùng markdown (**, ##, ```)\n2. Xưng hô: \"em\" - \"sếp\"\n3. Chỉ chào ở lần tương tác ĐẦU TIÊN\n4. KHÔNG nói \"em đã chuyển cho trợ lý...\"\n5. Trả kết quả TRỰC TIẾP từ tool\n\n# RESPONSE TYPE (Ghi ở cuối response)\n\nSau khi có kết quả từ tool, ghi thêm:\n\n- RESPONSE_TYPE: \"quote_new\" - Khi tạo báo giá mới (có ảnh + PDF)\n- RESPONSE_TYPE: \"send_pdf\" - Khi gửi lại PDF\n- RESPONSE_TYPE: \"send_image\" - Khi gửi lại ảnh\n- RESPONSE_TYPE: \"text_only\" - Khi trả lời text thông thường\n\n---\n\n# ⚠️ NHẮC LẠI LẦN CUỐI\n\n**KHÔNG BAO GIỜ TỰ TRẢ LỜI VỀ:**\n- Giá cả\n- Sản phẩm\n- Vật liệu\n- Tính toán\n- Báo giá\n\n**LUÔN GỌI TOOL \"Tro ly ke toan\" cho các yêu cầu trên!**\n\n## KIẾN THỨC ĐÃ HỌC\n{{ $json.learningContext }}\n\n---\n\n# 🎓 TÓM TẮT QUY TRÌNH ACTIVE LEARNING\n\n## Luồng xử lý một câu hỏi:\n\n1. ĐỌC \"KIẾN THỨC ĐÃ HỌC\" → Có thông tin liên quan không?\n   ├─ CÓ → Sử dụng, nhưng kiểm tra tính cập nhật\n   └─ KHÔNG → Bước 2\n\n2. PHÂN TÍCH INTENT → Cần tìm kiếm web không?\n   ├─ Giá thị trường/Tin tức/Đối thủ/Xu hướng → Gọi \"Search in Tavily\"\n   └─ Giá công ty/Quy định nội bộ → Gọi \"Tro ly ke toan\" hoặc tool khác\n\n3. NHẬN KẾT QUẢ → Đánh giá và ghi nhớ\n   ├─ Từ Tavily → TỰ ĐỘNG gọi \"Save Knowledge (Write)\" nếu hữu ích\n   ├─ Từ sếp sửa sai → TỰ ĐỘNG gọi \"Save Knowledge (Write)\" ngay\n   └─ Phát hiện mâu thuẫn → Update bộ nhớ với thông tin mới\n\n4. TRẢ LỜI → Tổng hợp từ tất cả nguồn, ưu tiên thông tin mới nhất\n\n---\n\n# ✅ CHECKLIST TRƯỚC KHI TRẢ LỜI\n\n- Đã kiểm tra \"KIẾN THỨC ĐÃ HỌC\"?\n- Đã chọn đúng tool? (Tavily chỉ cho giá thị trường/tin tức/đối thủ/xu hướng)\n- Đã tự động ghi nhớ thông tin hữu ích?\n- Đã xử lý mâu thuẫn (nếu có)?\n- Đã tổng hợp thông tin từ nhiều nguồn?\n- Đã ghi RESPONSE_TYPE ở cuối?\n\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2064,
        2976
      ],
      "id": "bdaff07f-8f73-4e7f-ab68-19bab974a0ea",
      "name": "Tro ly chinh",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "description": "Thực hiện các chức năng của Google lịch",
        "workflowId": {
          "__rl": true,
          "value": "eLrbhgmz6YTdIcVE",
          "mode": "list",
          "cachedResultUrl": "/workflow/eLrbhgmz6YTdIcVE",
          "cachedResultName": "My project — Tro ly lich"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2464,
        3568
      ],
      "id": "9df9a539-4bb1-4f1e-af88-779b1ee8375f",
      "name": "Tro ly lich"
    },
    {
      "parameters": {
        "description": "Bạn là Trợ lý Kỹ thuật chuyên trách (TechSpec AI) của xưởng nội thất MinhKhoa.\nNhiệm vụ của bạn là nhận thông tin bản vẽ/yêu cầu từ sếp (hoặc từ agent điều phối), sau đó phân tích kỹ thuật, bóc tách khối lượng và tính toán định mức vật tư chính xác để phục vụ sản xuất.",
        "workflowId": {
          "__rl": true,
          "value": "t63HlYXCREmvkDdf",
          "mode": "list",
          "cachedResultUrl": "/workflow/t63HlYXCREmvkDdf",
          "cachedResultName": "Tro ly ky thua"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ JSON.stringify($json) }}",
            "type": "={{ $json.type }}",
            "prompt": "={{ $json.prompt }}",
            "metadata": "={{ $json.metadata }}",
            "imageUrl": "={{ $json.imageUrl || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2208,
        3568
      ],
      "id": "2ff72896-6809-4e52-8208-a6932c2fef6f",
      "name": "Tro ly ky thuat"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1792,
        3968
      ],
      "id": "73e3b964-760d-4f60-b475-df173f7ac6a9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MJfpFBAmvmcIM1N3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7c149d-27bb-46c4-ba95-ed516cc67b24"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50c82333-aa74-4da8-a595-d8aa20d8901b",
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "word",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c7bfdb4-6711-4449-a567-d48e82089f01",
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "sheet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "849656ec-d703-4e8f-9544-3609249874b3",
                    "leftValue": "={{ $json.file_extension }}",
                    "rightValue": "dwg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DWG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76f19cd5-855d-448f-b5e1-fd0a78c62ce5",
                    "leftValue": "={{ $json.file_extension }}",
                    "rightValue": "dxf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DXF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc2e32e5-6475-4710-8c42-fedac5ab954b",
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image As Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        3408
      ],
      "id": "d15f7cec-7a72-42f7-bd75-6245d66b92e9",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e9f46cd-4af5-42ac-b18e-473ae9c78ee1",
              "name": "file_id",
              "value": "={{ $json.body.message.document.file_id }}",
              "type": "string"
            },
            {
              "id": "b3f55b7b-52f4-4e47-8d7e-72d8d74f6979",
              "name": "file_name",
              "value": "={{ $json.body.message.document.file_name }}",
              "type": "string"
            },
            {
              "id": "7fa10781-7b35-4111-b855-1759e8a04abb",
              "name": "file_size",
              "value": "={{ $json.body.message.document.file_size }}",
              "type": "number"
            },
            {
              "id": "d52661be-f338-4431-a643-ab13690ffa77",
              "name": "mine_type",
              "value": "={{ $json.body.message.document.mime_type }}",
              "type": "string"
            },
            {
              "id": "434023a4-2a87-4a84-92c6-57d3592802c0",
              "name": "file_extension",
              "value": "={{ $json.body.message.document.file_name.split('.').pop().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "6457640a-2104-48fe-a47b-000f8e556039",
              "name": "caption",
              "value": "={{ $json.body.message.caption || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        3408
      ],
      "id": "b14381ec-5d3f-4ae4-ae10-96186af958fa",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Phân tích tài liệu này:\\n\\n**Loại file:** {{ $json.file_name }}\\n**Mô tả từ user:** {{ $json.caption }}\\n\\nTrích xuất:\\n1. Nội dung chính\\n2. Thông số kỹ thuật (nếu có)\\n3. Kích thước, vật liệu (nếu là bản vẽ)\\n4. Giá cả (nếu là báo giá)",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        3408
      ],
      "id": "95f4a2cf-44db-4ff9-b8aa-a21cf56ca193",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "ivMQFozfvyKtTYit",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa7c23ed-4575-4852-97c4-578515ce3590",
              "leftValue": "={{ $json.file_size }}",
              "rightValue": 20971520,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        3600
      ],
      "id": "80c369a6-8621-4bc0-8071-b42aeb16b0e8",
      "name": "If File Size < 20MB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/dwg/to/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XJDhHpS7ZAFrMItEv3t9ROmMgT0dB3nz"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "StoreFile",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        3440
      ],
      "id": "7ed75443-b654-4f5e-bac9-0b5a744041c9",
      "name": "CAD to PDF",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        3088
      ],
      "id": "789cf794-38da-487a-b825-48dc44215417",
      "name": "Error Message1"
    },
    {
      "parameters": {
        "url": "={{ $json.body.message.photo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        3152
      ],
      "id": "e9f5eb82-384f-4415-a9c9-fca335877e4f",
      "name": "Download Image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://f19-zpc.zdn.vn/jpg/3991656014868884191/603153a06fd3e08db9c2.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        2832
      ],
      "id": "93829b72-18f7-49c6-8e6e-6501e3176cb0",
      "name": "Download Voice",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Z1WZcw2zQ2CvRsskYR5JqlAPW3xfYpUcGIZr31UgM6U",
          "mode": "list",
          "cachedResultName": "Agent Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1WZcw2zQ2CvRsskYR5JqlAPW3xfYpUcGIZr31UgM6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1WZcw2zQ2CvRsskYR5JqlAPW3xfYpUcGIZr31UgM6U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd hh:m a') }}",
            "Workflow": "={{ $workflow.name }}",
            "Input": "={{ $('Input').item.json.body.message.text }}",
            "Total tokens": "={{ $json.total_tokens }}",
            "Token": "={{ JSON.stringify($json.steps, null, 2) }}",
            "Output": "={{ $('Tro ly chinh').item.json.output }}",
            "Actions": "={{ JSON.stringify($json.steps, null, 2) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actions",
              "displayName": "Actions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Token",
              "displayName": "Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total tokens",
              "displayName": "Total tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3472,
        2880
      ],
      "id": "e0799823-f6aa-42f1-8d2d-77d56db49aa9",
      "name": "Agent Log",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9q7ceY6SMWzzelv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "description": "=# ⚠️ QUY TẮC BẮT BUỘC - ĐỌC TRƯỚC KHI TRẢ LỜI\n\n## QUAN TRỌNG NHẤT: KHI TẠO BÁO GIÁ\nKhi sếp yêu cầu \"tạo báo giá\", \"lập báo giá\", \"tạo lại báo giá\", \"làm báo giá\", \"báo giá cho khách\", \"tính giá\", \"lên đơn\":\n→ PHẢI trả về JSON `create_quote` ở cuối response\n→ KHÔNG ĐƯỢC chỉ trả lời text mô tả mà thiếu JSON\n→ Nếu thiếu JSON → File báo giá KHÔNG được tạo!\n\n---\n\n# OVERVIEW\nBạn là Trợ lý Kế toán chuyên trách của xưởng nội thất MinhKhoa.\n\n# CONTEXT\n{{ $json.customerContext }}\n{{ $json.learningContext }}\n\n# TOOLS & RULES\n1. Calculator: BẮT BUỘC dùng để tính toán mọi con số. KHÔNG tính nhẩm.\n2. Tra cứu: Dùng tools (San pham, Vat lieu, Ton kho) để lấy dữ liệu.\n\n# OUTPUT FORMAT\n1. Lời thoại:\n   - Text thuần, KHÔNG dùng markdown (**, ##, ```)\n   - Xưng hô: \"em\" - \"sếp\"\n   - Số tiền: dấu chấm phân cách (1.500.000 VNĐ)\n\n2. JSON Action: Đặt ở CUỐI CÙNG response khi cần hành động\n\n---\n\n# ACTION SCENARIOS\n\n## 1. TẠO BÁO GIÁ MỚI\nTừ khóa: \"tạo báo giá\", \"lập báo giá\", \"tạo lại\", \"làm báo giá\", \"báo giá cho\", \"tính giá\", \"lên đơn\"\n\nQuy trình:\n1. Dùng Calculator tính toán\n2. Trả lời ngắn: \"Dạ, em đã tính xong báo giá cho [Tên khách]. Tổng cộng: X VNĐ\"\n3. ĐÍNH KÈM JSON (BẮT BUỘC):\n\n```json\n{\n  \"action\": \"create_quote\",\n  \"data\": {\n    \"customerName\": \"Tên khách\",\n    \"customerPhone\": \"SĐT\",\n    \"customerAddress\": \"Địa chỉ\",\n    \"items\": [\n      {\n        \"name\": \"Tên sản phẩm\",\n        \"size\": \"1800 x 2000 x 600 mm\",\n        \"material\": \"Vật liệu\",\n        \"quantity\": 1,\n        \"unitPrice\": 1000000,\n        \"amount\": 1000000,\n        \"note\": \"Ghi chú\"\n      }\n    ],\n    \"subtotal\": 1000000,\n    \"profitPercent\": 25,\n    \"profit\": 250000,\n    \"priceBeforeVAT\": 1250000,\n    \"vat\": 125000,\n    \"totalAmount\": 1375000\n  }\n}\n```\n\nGiải thích fields:\n- unitPrice = Giá bán 1 sản phẩm (đã tính lợi nhuận, CHƯA VAT)\n- amount = unitPrice × quantity\n- subtotal = Tổng chi phí sản xuất (chưa lợi nhuận)\n- profit = subtotal × profitPercent / 100\n- priceBeforeVAT = subtotal + profit\n- vat = priceBeforeVAT × 10%\n- totalAmount = priceBeforeVAT + vat\n- Tất cả số tiền là NUMBER, không có dấu chấm\n\n## 2. GỬI LẠI PDF/FILE\nTừ khóa: \"gửi pdf\", \"gửi lại file\", \"tải pdf\", \"mỗi pdf\", \"chỉ cần file\"\n\n→ CHỈ trả về: \"Đây là file PDF báo giá [mã]: [link_pdf]\"\n→ KHÔNG tạo báo giá mới\n→ KHÔNG mô tả chi tiết\n\n## 3. HỎI ĐÁP THÔNG THƯỜNG\nTừ khóa: hỏi giá vật liệu, tra cứu sản phẩm, tồn kho...\n\n→ Trả lời text bình thường\n→ KHÔNG cần JSON\n\n## 4. LƯU THÔNG TIN HỌC\nKhi sếp dạy kiến thức mới hoặc sửa sai\n\n```json\n{\n  \"action\": \"learn\",\n  \"data\": {\n    \"type\": \"knowledge|preference|correction\",\n    \"content\": \"Nội dung học\",\n    \"wrong\": \"Nếu là correction - cái sai\",\n    \"correct\": \"Nếu là correction - cái đúng\"\n  }\n}\n```\n\n## 5. LƯU KHÁCH HÀNG\nKhi có thông tin khách hàng mới\n\n```json\n{\n  \"action\": \"save_customer\",\n  \"data\": {\n    \"name\": \"Tên khách\",\n    \"phone\": \"SĐT\",\n    \"address\": \"Địa chỉ\",\n    \"email\": \"Email\"\n  }\n}\n```\n\n---\n\n# VÍ DỤ RESPONSE ĐÚNG\n\n## Ví dụ 1: Tạo báo giá\nUser: \"Tạo báo giá cho khách Nguyễn Văn A, 2 tủ quần áo 3 cánh\"\n\nResponse:\nDạ, em đã tính xong báo giá cho khách Nguyễn Văn A. Tổng cộng là 15.125.000 VNĐ (đã bao gồm VAT 10%).\n\n```json\n{\n  \"action\": \"create_quote\",\n  \"data\": {\n    \"customerName\": \"Nguyễn Văn A\",\n    \"customerPhone\": \"Chưa cung cấp\",\n    \"customerAddress\": \"Chưa cung cấp\",\n    \"items\": [\n      {\n        \"name\": \"Tủ quần áo 3 cánh\",\n        \"size\": \"1800 x 2200 x 600 mm\",\n        \"material\": \"Gỗ công nghiệp MDF\",\n        \"quantity\": 2,\n        \"unitPrice\": 5500000,\n        \"amount\": 11000000,\n        \"note\": \"\"\n      }\n    ],\n    \"subtotal\": 8800000,\n    \"profitPercent\": 25,\n    \"profit\": 2200000,\n    \"priceBeforeVAT\": 11000000,\n    \"vat\": 1100000,\n    \"totalAmount\": 12100000\n  }\n}\n```\n\n## Ví dụ 2: Gửi lại PDF\nUser: \"Gửi lại mỗi pdf thôi\"\n\nResponse:\nĐây là file PDF báo giá BG-20251220-123: https://res.cloudinary.com/.../BG-20251220-123.pdf\n\n## Ví dụ 3: Hỏi đáp\nUser: \"Giá gỗ sồi bao nhiêu?\"\n\nResponse:\nDạ, giá gỗ sồi hiện tại là 15.000.000 VNĐ/m3 ạ.\n\n---\n\n# LƯU Ý CUỐI\n- LUÔN dùng Calculator khi tính toán\n- LUÔN đính kèm JSON khi tạo báo giá\n- KHÔNG dùng markdown trong text\n- JSON phải ở CUỐI CÙNG response\n- Số trong JSON là NUMBER (không có dấu chấm)\n- Số trong text là STRING (có dấu chấm: 1.500.000)",
        "workflowId": {
          "__rl": true,
          "value": "2AKCYsUUcOUMdi4M",
          "mode": "list",
          "cachedResultUrl": "/workflow/2AKCYsUUcOUMdi4M",
          "cachedResultName": "Tro ly ke toan"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.prompt }}",
            "type": "={{ $json.type }}",
            "content": "={{ $json.content }}",
            "metadata": "={{ $json.metadata }}",
            "imageUrl": "={{ $json.imageUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2080,
        3568
      ],
      "id": "3a6a9d73-e605-4c6f-9805-e0faa8b78490",
      "name": "Tro ly ke toan"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Đây là ảnh gi?",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        3072
      ],
      "id": "c041b9a6-883f-4edd-bbf0-c59429c30aa1",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ivMQFozfvyKtTYit",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd907e87-49ce-4525-862c-54059820173b",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "phân tích",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d22d6c30-11fb-4d49-a43a-ee458ac670f7",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "xem",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7ce92bce-4a09-477f-905c-dccb07e5e129",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "đọc",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f420f5d0-2c66-42b8-8647-6c342f306b59",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "analyze",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e5b80510-f153-43cd-8cb7-5da472023b88",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "=mô tả",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "25a3e8c6-d7ae-4f20-8983-aee8a72e6449",
              "leftValue": "={{ $json.body.message.caption || $json.caption || '' }}",
              "rightValue": "là gì",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        3152
      ],
      "id": "ef663879-2e3d-4b31-8f63-1afe52e0513f",
      "name": "Check Caption Analyze"
    },
    {
      "parameters": {
        "url": "={{ $json.body.message.from.id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        3408
      ],
      "id": "3de2c744-c6cd-4f59-8ffe-ba0bc1e68697",
      "name": "Download Documents",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1952,
        4208
      ],
      "id": "aeffdcfb-18d8-4248-ab0b-63355d0a9498",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ivMQFozfvyKtTYit",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://n8n.minhkhoaagent.top/webhook/zalo-gateway-new"
            },
            {
              "name": "secret_token",
              "value": "agent123456"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2224,
        4176
      ],
      "id": "32b7bf58-4bb5-4d32-974c-96bc957b1ea9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        3712
      ],
      "id": "444bafa8-9cb4-4a76-b4ea-aa38be8221f0",
      "name": "Error Message"
    },
    {
      "parameters": {
        "description": "Gọi công cụ này khi sếp DẠY kiến thức mới, SỬA SAI, hoặc bảo GHI NHỚ thông tin. \nVí dụ: \"Nhớ là giá gỗ sồi 15 triệu/m3\", \"Sai rồi, phải là...\", \"Ghi nhớ khách A thích màu trắng\"\nInput: Nội dung cần ghi nhớ (text)",
        "workflowId": {
          "__rl": true,
          "value": "BKK33Pu7stWD1pR1",
          "mode": "list",
          "cachedResultUrl": "/workflow/BKK33Pu7stWD1pR1",
          "cachedResultName": "Tool - RAG Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "action": "search"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2592,
        3568
      ],
      "id": "40cf7de4-a6f5-4a11-8099-7d311f92ee80",
      "name": "Save Knowledge (Write)"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1648,
        3568
      ],
      "id": "706cb8f7-c6d7-4861-936c-0305beb6d2b2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VkFyanoifIIhja6j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. LẤY DỮ LIỆU TỪ AGENT\nconst agentItem = $('Tro ly chinh').first().json;\nlet rawOutput = agentItem.output || \"\";\n\n// Clean text\nlet cleanOutput = rawOutput;\nif (cleanOutput) {\n    cleanOutput = cleanOutput.split('\\\\n').join(' ').split('\\n').join(' ');\n}\n\n// 2. KHỞI TẠO BIẾN\nlet imageUrl = '';\nlet pdfUrl = '';\nlet quoteNumber = '';\nlet responseMode = 'text';\n\n// 3. TÌM LINK\n// Regex tìm ảnh\nconst imgRegex = /(https?:\\/\\/[^\\s\"<>)]+?\\.(?:png|jpg|jpeg|webp))/i;\nconst imgMatch = cleanOutput.match(imgRegex);\nif (imgMatch) imageUrl = imgMatch[0].trim();\n\n// Regex tìm PDF\nconst pdfRegex = /(https?:\\/\\/[^\\s\"<>)]+?\\.pdf)/i;\nconst pdfMatch = cleanOutput.match(pdfRegex);\nif (pdfMatch) pdfUrl = pdfMatch[0].trim();\n\n// Regex tìm Mã báo giá\nconst qnRegex = /(BG-\\d{8}-\\d{3}|QT-\\d{8}-\\d{3})/i;\nconst qnMatch = cleanOutput.match(qnRegex);\nif (qnMatch) quoteNumber = qnMatch[0];\n\n// 4. XÁC ĐỊNH CHẾ ĐỘ GỬI - ƯU TIÊN THEO LINK TÌM ĐƯỢC\nif (imageUrl && pdfUrl) {\n    responseMode = 'all';\n} else if (imageUrl) {\n    responseMode = 'image';\n} else if (pdfUrl) {\n    responseMode = 'pdf';\n} else {\n    responseMode = 'text';\n}\n\n// 5. LÀM SẠCH TIN NHẮN\nlet finalText = rawOutput;\n\n// Xóa RESPONSE_TYPE nếu có\nfinalText = finalText.replace(/RESPONSE_TYPE:\\s*[\"']?[a-zA-Z_]+[\"']?/gi, '');\n\n// Xóa link nếu đã gửi riêng\nif (responseMode === 'all' || responseMode === 'image') {\n    if (imageUrl) finalText = finalText.replace(imageUrl, '');\n}\nif (responseMode === 'all' || responseMode === 'pdf') {\n    if (pdfUrl) finalText = finalText.replace(pdfUrl, '');\n}\n\n// Xóa JSON block trong text (giữ text sạch)\nfinalText = finalText.replace(/```json[\\s\\S]*?```/gi, '');\nfinalText = finalText.replace(/\\{[\\s\\S]*?\"action\"[\\s\\S]*?\\}/gi, '');\n\n// Clean up\nfinalText = finalText.replace(/\\n\\s*\\n/g, '\\n').trim();\n\n// Log debug\nconsole.log('Image URL:', imageUrl);\nconsole.log('PDF URL:', pdfUrl);\nconsole.log('Response Mode:', responseMode);\n\nreturn [{\n    json: {\n        output: finalText,\n        imageUrl: imageUrl,\n        pdfUrl: pdfUrl,\n        quoteNumber: quoteNumber,\n        response_mode: responseMode\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        2880
      ],
      "id": "fad8c4ac-58b8-4ee0-a9ef-395f70aaaf39",
      "name": "Analyze and Get link",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "photo",
              "value": "={{ $('Analyze and Get link').first().json.imageUrl }}"
            },
            {
              "name": "caption",
              "value": "=📋 Báo giá {{ $('Analyze and Get link').first().json.quoteNumber }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4112,
        2720
      ],
      "id": "17c41fe9-609c-4d54-aea9-3150eec89d24",
      "name": "Send Photo",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-image",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "check-mode",
              "leftValue": "={{ $json.response_mode }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            },
            {
              "id": "check-mode-text",
              "leftValue": "={{ $json.response_mode }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3904,
        2880
      ],
      "id": "b9fd2f3c-fb5e-416e-a4c3-6c5822379fb3",
      "name": "Has Image?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-pdf",
              "leftValue": "={{ $('Analyze and Get link').first().json.pdfUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "check-mode",
              "leftValue": "={{ $('Analyze and Get link').first().json.response_mode }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "check-mode-text",
              "leftValue": "={{ $('Analyze and Get link').first().json.response_mode }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        2880
      ],
      "id": "df96c524-bd70-4104-b468-4708e78ab138",
      "name": "Has PDF?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ '📄 File PDF báo giá ' + $('Analyze and Get link').first().json.quoteNumber + ':\\n' + $('Analyze and Get link').first().json.pdfUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4592,
        2720
      ],
      "id": "dfb74778-feb5-4a55-b68a-ef998f587e6d",
      "name": "Send PDF",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. LẤY DỮ LIỆU\nconst agentItem = $('Tro ly chinh').first().json;\nlet rawOutput = agentItem.output || \"\";\n\n// Clean text\nconst cleanOutput = rawOutput.replace(/\\\\n/g, ' ').replace(/\\n/g, ' ');\n\n// 2. TÌM LINK\nlet imageUrl = '';\nlet pdfUrl = '';\nlet quoteNumber = '';\n\n// Bắt link ảnh\nconst imgMatch = cleanOutput.match(/(https?:\\/\\/[^\\s\"<>)]+?\\.(?:png|jpg|jpeg|webp))/i);\nif (imgMatch) imageUrl = imgMatch[0].trim();\n\n// Bắt link PDF\nconst pdfMatch = cleanOutput.match(/(https?:\\/\\/[^\\s\"<>)]+?\\.pdf)/i);\nif (pdfMatch) pdfUrl = pdfMatch[0].trim();\n\n// Bắt Mã báo giá\nconst qnMatch = cleanOutput.match(/(BG-\\d{8}-\\d{3})/i);\nif (qnMatch) quoteNumber = qnMatch[0];\n\n// 3. XÁC ĐỊNH RESPONSE MODE\nlet responseMode = 'text';\nif (imageUrl && pdfUrl) responseMode = 'all';\nelse if (imageUrl) responseMode = 'image';\nelse if (pdfUrl) responseMode = 'pdf';\n\n// 4. TẠO TIN NHẮN SẠCH\nlet finalText = '';\n\n// Nếu có báo giá (có ảnh hoặc PDF)\nif (responseMode !== 'text' && quoteNumber) {\n    // Tìm tổng tiền trong output\n    const totalMatch = rawOutput.match(/(\\d{1,3}(?:\\.\\d{3})*(?:\\.\\d+)?)\\s*VN[ĐD]/i);\n    const totalAmount = totalMatch ? totalMatch[1] : '';\n    \n    finalText = `Sếp ơi, em đã tạo báo giá ${quoteNumber} xong ạ!`;\n    \n    if (totalAmount) {\n        finalText += `\\n💰 Tổng cộng: ${totalAmount} VNĐ (đã bao gồm VAT 10%)`;\n    }\n    \n    if (pdfUrl) {\n        finalText += `\\n\\n📄 Tải PDF: ${pdfUrl}`;\n    } else {\n        finalText += `\\n\\nNếu cần file PDF, sếp báo em nhé!`;\n    }\n} else {\n    // Không có báo giá - giữ nguyên text nhưng clean\n    finalText = rawOutput\n        .replace(/RESPONSE_TYPE:\\s*[\"']?[a-zA-Z_]+[\"']?/gi, '')\n        .replace(/```json[\\s\\S]*?```/gi, '')\n        .replace(/\\{[\\s\\S]*?\"action\"[\\s\\S]*?\\}/gi, '')\n        .replace(/Link ảnh preview.*?:/gi, '')\n        .replace(/\\n\\s*\\n/g, '\\n')\n        .trim();\n    \n    // Xóa link nếu đã gửi ảnh riêng\n    if (imageUrl) finalText = finalText.replace(imageUrl, '');\n    if (pdfUrl) finalText = finalText.replace(pdfUrl, '');\n}\n\n// Clean final\nfinalText = finalText.replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n').trim();\n\nreturn [{\n    json: {\n        output: finalText,\n        imageUrl: imageUrl,\n        pdfUrl: pdfUrl,\n        quoteNumber: quoteNumber,\n        response_mode: responseMode\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        2880
      ],
      "id": "7f2c56e4-bcb9-48e9-9da3-d1074df828de",
      "name": "Split Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5056,
        2880
      ],
      "id": "96237535-26ab-45e4-9ccc-bcef4a80215b",
      "name": "Send Text"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from input\nconst inputItems = $input.all();\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const item = inputItems[i];\n  \n  // Lấy photo_url từ queue data\n  try {\n    const queueData = $('Convert Queue Data').first().json;\n    item.json.photo_url = queueData?.body?.message?.photo_url || '';\n  } catch (e) {\n    item.json.photo_url = '';\n  }\n\n  // Fix MIME type nếu cần\n  if (item.binary && item.binary.data) {\n    if (item.binary.data.mimeType === 'image/jpg') {\n      item.binary.data.mimeType = 'image/jpeg';\n      item.binary.data.fileExtension = 'jpeg';\n    }\n  }\n}\n\nreturn inputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        3152
      ],
      "id": "b505d534-987f-44fe-ba3a-6a2dc326b64e",
      "name": "Fix Input Item",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3560693075024509922:IRydnWGAAtlekyTBevNhCHkSOOsuCWvBMphBNeSurWcpTbkMgRSRTpvKJbWMWbYX/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3120,
        2880
      ],
      "id": "07b9f51e-058f-4996-b709-9717074033ac",
      "name": "Send Processing Message2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1792,
        4208
      ],
      "id": "3cc11af4-a16a-4b68-b184-1a2d6da9077f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ZeYl5rYP7Kr1YqY6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge knowledge context vào input cho Workflow chính\nconst prepareData = $('Prepare Smart Search').first().json;\nconst originalInput = prepareData.originalInput;\n\n// 1. RAG Results\nlet ragContext = '';\ntry {\n  const searchResult = $('Search Knowledge').first().json;\n  if (searchResult && searchResult.success && searchResult.results && searchResult.results.length > 0) {\n    ragContext = searchResult.results\n      .map(r => `• [${r.category}] ${r.content}`)\n      .join('\\n');\n  }\n} catch (e) {\n  ragContext = '';\n}\n\n// 2. Tavily Results (nếu có)\nlet webContext = '';\ntry {\n  if (prepareData.needWebSearch) {\n    const tavilyResult = $('Search Tavily').first().json;\n    if (tavilyResult && tavilyResult.answer) {\n      webContext = `Tóm tắt: ${tavilyResult.answer}\\n`;\n    }\n    if (tavilyResult && tavilyResult.results && tavilyResult.results.length > 0) {\n      webContext += tavilyResult.results\n        .slice(0, 3)\n        .map(r => `• ${r.title}: ${r.content.substring(0, 200)}...`)\n        .join('\\n');\n    }\n  }\n} catch (e) {\n  webContext = '';\n}\n\n// 3. Build context\nlet learningContext = '';\n\nif (ragContext) {\n  learningContext += `\n=== KIẾN THỨC ĐÃ HỌC ===\n${ragContext}\n========================\n`;\n}\n\nif (webContext) {\n  learningContext += `\n=== THÔNG TIN TỪ WEB ===\n${webContext}\n========================\n`;\n}\n\nreturn [{\n  json: {\n    ...originalInput,\n    learningContext: learningContext,\n    hasLearning: ragContext !== '' || webContext !== ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        2976
      ],
      "id": "e43724e1-b0ec-4da2-b257-06617ae5b58e",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r4F4YVmXVwKOH0Ne",
          "mode": "list",
          "cachedResultUrl": "/workflow/r4F4YVmXVwKOH0Ne",
          "cachedResultName": "RAG Knowledge - Pinecone"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.ragQuery || $json.content || $json.prompt || '' }}",
            "action": "search"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        2976
      ],
      "id": "ba6d966b-454c-4855-9304-f4ba46b91614",
      "name": "Search Knowledge"
    },
    {
      "parameters": {
        "jsCode": "// Chuẩn bị search từ nhiều nguồn cho Workflow chính\nconst input = $input.first().json;\n\n// Lấy query từ nhiều nguồn có thể\nconst query = input.content || input.prompt || input.text || '';\nconst queryLower = query.toLowerCase();\n\n// Phân tích intent - có cần web search không?\nlet needWebSearch = false;\nlet webSearchQuery = '';\nlet searchType = 'general';\n\nif (queryLower.includes('giá thị trường') || queryLower.includes('giá hiện tại') || \n    queryLower.includes('xu hướng') || queryLower.includes('mới nhất') ||\n    queryLower.includes('tin tức') || queryLower.includes('thời sự')) {\n  needWebSearch = true;\n  webSearchQuery = query + ' Việt Nam 2025';\n  searchType = 'market_info';\n}\n\nif (queryLower.includes('đối thủ') || queryLower.includes('thị trường') ||\n    queryLower.includes('so sánh')) {\n  needWebSearch = true;\n  webSearchQuery = query + ' nội thất Việt Nam';\n  searchType = 'competitor';\n}\n\nreturn [{\n  json: {\n    originalInput: input,\n    ragQuery: query,\n    needWebSearch: needWebSearch,\n    webSearchQuery: webSearchQuery,\n    searchType: searchType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2976
      ],
      "id": "79fec34a-c49b-4903-ba65-5ea22303149f",
      "name": "Prepare Smart Search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06b6aed4-daf6-46d1-a841-394b9ffde6ea",
              "leftValue": "={{ $('Search Knowledge').item.json.needWebSearch }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        2976
      ],
      "id": "51226af9-e213-4208-92f2-94be2c47aa5e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Detect knowledge mới cần học\nlet agentOutput = '';\nlet userInput = '';\n\ntry {\n  agentOutput = $('Tro ly chinh').first().json.output || '';\n} catch (e) {\n  agentOutput = '';\n}\n\ntry {\n  userInput = $('Input').first().json.content || \n              $('Input').first().json.prompt || \n              $('Convert Queue Data').first().json.body?.message?.text || '';\n} catch (e) {\n  userInput = '';\n}\n\n// Patterns cần học\nconst learnPatterns = [\n  { pattern: /nhớ (là|rằng|nhé)/i, category: 'knowledge' },\n  { pattern: /ghi nhớ/i, category: 'knowledge' },\n  { pattern: /từ (giờ|nay)/i, category: 'preference' },\n  { pattern: /quy định (mới|là)/i, category: 'process' },\n  { pattern: /sai rồi.*(đúng là|phải là)/i, category: 'correction' },\n  { pattern: /không phải.*(mà là|là)/i, category: 'correction' }\n];\n\nlet shouldLearn = false;\nlet category = 'general';\nlet contentToLearn = userInput;\n\nfor (const item of learnPatterns) {\n  if (item.pattern.test(userInput)) {\n    shouldLearn = true;\n    category = item.category;\n    break;\n  }\n}\n\n// Nếu agent xác nhận đã học\nif (agentOutput.toLowerCase().includes('đã ghi nhớ') || \n    agentOutput.toLowerCase().includes('em nhớ rồi')) {\n  shouldLearn = true;\n}\n\nreturn [{\n  json: {\n    shouldLearn: shouldLearn,\n    contentToLearn: contentToLearn,\n    category: category\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        2880
      ],
      "id": "0df5d5af-323b-42e1-bd30-eac661c2dbe9",
      "name": "Detect New Knowledge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbc74e48-ef2f-455d-8326-3aa17e03042c",
              "leftValue": "={{ $json.shouldLearn }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        2880
      ],
      "id": "b328ba1c-5b2e-4cee-8b92-278593f7a5ff",
      "name": "If Should Learn"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "x2L5rQZ1DPGBD6zJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/x2L5rQZ1DPGBD6zJ",
          "cachedResultName": "Tool - RAG Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "action": "save",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2880,
        2784
      ],
      "id": "e50855ec-d044-41c7-a8b6-5261dc26a5c7",
      "name": "Execute Save to RAG"
    },
    {
      "parameters": {
        "query": "={{ $('Prepare Smart Search').item.json.webSearchQuery }}",
        "options": {
          "search_depth": "basic",
          "max_results": 5,
          "include_answer": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        976,
        2880
      ],
      "id": "17917473-17ea-434f-871c-c6ed7240d05b",
      "name": "Search Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "pY0x9kpc8XPIIprO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryHash = prepareData.webSearchQuery\n  .toLowerCase()\n  .replace(/[^a-z0-9]/g, '')\n  .substring(0, 50);\n\n// Thêm vào return\nreturn [{\n  json: {\n    shouldSave: shouldSave,\n    contentToSave: contentToSave,\n    category: category,\n    queryHash: queryHash,  // Dùng để check trùng sau này\n    originalQuery: prepareData.webSearchQuery,\n    answerLength: tavilyResult?.answer?.length || 0\n  }\n}];\n\n// Kiểm tra chất lượng kết quả Tavily để quyết định có lưu không\nconst tavilyResult = $input.first().json;\nconst prepareData = $('Prepare Smart Search').first().json;\n\nlet shouldSave = false;\nlet contentToSave = '';\nlet category = 'market_info';\n\n// Kiểm tra có answer chất lượng không\nif (tavilyResult && tavilyResult.answer && tavilyResult.answer.length > 100) {\n  shouldSave = true;\n  \n  // Tạo content có cấu trúc để lưu\n  const timestamp = new Date().toISOString().slice(0, 10);\n  contentToSave = `[WEB ${timestamp}] ${prepareData.webSearchQuery}: ${tavilyResult.answer}`;\n  \n  // Phân loại category dựa trên query\n  const queryLower = prepareData.webSearchQuery.toLowerCase();\n  if (queryLower.includes('giá') || queryLower.includes('chi phí')) {\n    category = 'market_price';\n  } else if (queryLower.includes('xu hướng') || queryLower.includes('trend')) {\n    category = 'market_trend';\n  } else if (queryLower.includes('đối thủ') || queryLower.includes('cạnh tranh')) {\n    category = 'competitor';\n  } else {\n    category = 'market_info';\n  }\n}\n\n// Không lưu nếu kết quả quá ngắn hoặc không có answer\nif (tavilyResult.answer && tavilyResult.answer.length < 50) {\n  shouldSave = false;\n}\n\nreturn [{\n  json: {\n    shouldSave: shouldSave,\n    contentToSave: contentToSave,\n    category: category,\n    originalQuery: prepareData.webSearchQuery,\n    answerLength: tavilyResult?.answer?.length || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        2880
      ],
      "id": "b15ef08a-c293-45e0-aae8-57c755834d64",
      "name": "Check Tavily Quality"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5512534-5da6-4804-ba93-2cd832aff8a4",
              "leftValue": "={{ $json.shouldSave }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        2880
      ],
      "id": "1ac45c1b-e0f8-4e01-b7ad-b67e5897129d",
      "name": "If Good Result"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "x2L5rQZ1DPGBD6zJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/x2L5rQZ1DPGBD6zJ",
          "cachedResultName": "Tool - RAG Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.contentToSave }}",
            "action": "save",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1616,
        2784
      ],
      "id": "619e8a03-1d55-4d8a-80e8-35d50050283d",
      "name": "Auto Save Web Knowledge"
    },
    {
      "parameters": {
        "jsCode": "const saveResult = $input.first().json;\n\nconsole.log('=== AUTO SAVE WEB KNOWLEDGE ===');\nconsole.log('Saved:', saveResult.success ? 'YES' : 'NO');\nconsole.log('Content:', saveResult.message || 'N/A');\n\nreturn [{ json: { logged: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        2784
      ],
      "id": "b1e900f6-6579-4410-b278-28b306024519",
      "name": "Log Save Result"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tìm kiếm thông tin MỚI NHẤT trên internet. Sử dụng khi:\n- Sếp hỏi giá thị trường, giá ngoài, giá hiện tại\n- Cần thông tin đối thủ cạnh tranh\n- Cần xu hướng nội thất mới nhất\n- Cần tin tức ngành\n- Cần thông tin công ty hoặc khách hàng\n- Bất kỳ thông tin nào cần cập nhật real-time\n\nKHÔNG dùng cho giá của xưởng MinhKhoa, dùng kiến thức đã học thay thế.",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "search_depth": "advanced",
          "max_results": 5,
          "include_answer": "advanced"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        2752,
        3568
      ],
      "id": "45c1a32f-9326-4caa-8a61-4bf4bc1f5d5d",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "pY0x9kpc8XPIIprO",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zamexodnbxgmazdnajtd.supabase.co/rest/v1/message_buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbWV4b2RuYnhnbWF6ZG5hanRkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU5ODM1MiwiZXhwIjoyMDgyMTc0MzUyfQ.mAC3J7FD9ZY3RJL3hf7QSly_QoelpVmhERIe0NPnQHA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": {{ JSON.stringify($now.toISO()) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5280,
        2880
      ],
      "id": "5ff6406e-add8-4b67-bc7b-77c105f0a61f",
      "name": "Mark Completed"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Agent Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Prepare Smart Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly Email": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly chinh": {
      "main": [
        [
          {
            "node": "Detect New Knowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly lich": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly ky thuat": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If File Size < 20MB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If File Size < 20MB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Size < 20MB": {
      "main": [
        [
          {
            "node": "CAD to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAD to PDF": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Message": {
      "main": [
        [
          {
            "node": "Has message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has message?": {
      "main": [
        [
          {
            "node": "Lock message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock message": {
      "main": [
        [
          {
            "node": "Convert Queue Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Queue Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Fix Input Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Log": {
      "main": [
        [
          {
            "node": "Analyze and Get link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly ke toan": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Caption Analyze": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Documents": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Knowledge (Write)": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze and Get link": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Has PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PDF?": {
      "main": [
        [
          {
            "node": "Send PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PDF": {
      "main": [
        [
          {
            "node": "Split Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Input Item": {
      "main": [
        [
          {
            "node": "Check Caption Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message2": {
      "main": [
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Tro ly chinh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Smart Search": {
      "main": [
        [
          {
            "node": "Search Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search Tavily",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Knowledge": {
      "main": [
        [
          {
            "node": "If Should Learn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Learn": {
      "main": [
        [
          {
            "node": "Execute Save to RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Processing Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Save to RAG": {
      "main": [
        [
          {
            "node": "Send Processing Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Tavily": {
      "main": [
        [
          {
            "node": "Check Tavily Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tavily Quality": {
      "main": [
        [
          {
            "node": "If Good Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Good Result": {
      "main": [
        [
          {
            "node": "Auto Save Web Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Save Web Knowledge": {
      "main": [
        [
          {
            "node": "Log Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Save Result": {
      "main": [
        [
          {
            "node": "Agent Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Tro ly chinh",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "Mark Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Message1": {
      "main": [
        [
          {
            "node": "Mark Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Message": {
      "main": [
        [
          {
            "node": "Mark Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3598228d-2acc-4132-b3a3-c6a78c781764",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f79905368cdd8aefd97993159c6f1b332d2bef60e6af085cda589aa3db810691"
  },
  "id": "frCGAUJ64i1bm8bB",
  "tags": []
}