Tro ly ke toan.json
{
  "name": "Tro ly ke toan",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt",
              "type": "any"
            },
            {
              "name": "type",
              "type": "any"
            },
            {
              "name": "content",
              "type": "any"
            },
            {
              "name": "metadata",
              "type": "any"
            },
            {
              "name": "imageUrl",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        1200
      ],
      "id": "c02c76e8-816d-4a1f-980f-180b8441d158",
      "name": "Trigger từ Trợ lý chính"
    },
    {
      "parameters": {
        "jsCode": "// Parse input và metadata từ Trợ lý chính\nconst item = $input.all()[0].json;\n\nlet metadata = {};\ntry {\n  metadata = typeof item.metadata === 'string' ? JSON.parse(item.metadata || '{}') : (item.metadata || {});\n} catch (e) {\n  metadata = {};\n}\n\n// Lấy text input\nconst inputText = item.input || item.prompt || item.content || '';\n\nreturn [{\n  json: {\n    input: inputText,\n    userId: metadata.userId || metadata.chatId || 'unknown',\n    userName: metadata.userName || 'Sếp',\n    chatId: metadata.chatId || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1200
      ],
      "id": "93a976e4-8d98-4998-a815-998c2e812651",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Load data",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        1184
      ],
      "id": "44990377-769e-476c-898a-630b76da172c",
      "name": "Merge Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Xây dựng context từ customer và learning memory\nconst items = $input.all();\n\n// Lấy dữ liệu từ các node trước\nconst parseInputResults = $('Parse Input').all();\nconst inputData = (parseInputResults[0] && parseInputResults[0].json) ? parseInputResults[0].json : {};\n\nconst customerResults = $('Load Customer').all();\nconst learningResults = $('Load Learning Memory').all();\n\n// Xử lý customer data\nlet customerContext = '';\nlet isReturning = false;\nlet customerData = null;\n\nif (customerResults.length > 0 && customerResults[0].json && customerResults[0].json.name) {\n  customerData = customerResults[0].json;\n  isReturning = true;\n  customerContext = `\n## 👤 KHÁCH HÀNG CŨ - ĐÃ CÓ TRONG HỆ THỐNG\n- Tên: ${customerData.name || 'Chưa có'}\n- SĐT: ${customerData.phone || 'Chưa có'}\n- Địa chỉ: ${customerData.address || 'Chưa có'}\n- Email: ${customerData.email || 'Chưa có'}\n- Tổng đơn hàng: ${customerData.orderCount || 0}\n- Tổng chi tiêu: ${(customerData.totalSpent || 0).toLocaleString('vi-VN')} VNĐ\n\n⚠️ Khi tạo báo giá, HỎI XÁC NHẬN thông tin này với sếp trước!`;\n} else {\n  customerContext = '## 👤 KHÁCH HÀNG MỚI - Chưa có trong hệ thống\\nCần hỏi đầy đủ thông tin khi tạo báo giá.';\n}\n\n// Xử lý learning memory\nlet knowledgeList = [];\nlet preferenceList = [];\nlet correctionList = [];\n\nfor (const item of learningResults) {\n  if (item.json && item.json.type) {\n    const mem = item.json;\n    if (mem.type === 'knowledge') {\n      knowledgeList.push('- ' + mem.content);\n    } else if (mem.type === 'preference') {\n      preferenceList.push('- ' + mem.content);\n    } else if (mem.type === 'correction') {\n      correctionList.push('- Sai: \"' + mem.wrong + '\" → Đúng: \"' + mem.correct + '\"');\n    }\n  }\n}\n\nconst learningContext = `\n## 🧠 KIẾN THỨC ĐÃ HỌC TỪ SẾP\n${knowledgeList.length > 0 ? knowledgeList.join('\\n') : '(Chưa có)'}\n\n## ⭐ SỞ THÍCH CỦA SẾP\n${preferenceList.length > 0 ? preferenceList.join('\\n') : '(Chưa biết)'}\n\n## ✏️ CÁC CHỈNH SỬA TRƯỚC ĐÓ\n${correctionList.length > 0 ? correctionList.join('\\n') : '(Chưa có)'}`;\n\nreturn [{\n  json: {\n    input: inputData.input || '',\n    userId: inputData.userId || '',\n    userName: inputData.userName || '',\n    chatId: inputData.chatId || '',\n    customerContext: customerContext,\n    learningContext: learningContext,\n    isReturningCustomer: isReturning,\n    customerData: customerData,\n    timestamp: inputData.timestamp || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1184
      ],
      "id": "e479d4c4-354c-4d16-8020-ff68dd1f8c90",
      "name": "Build Context"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1296,
        1616
      ],
      "id": "511aa20e-c583-47c4-aa9c-cd759c639c73",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "Sử dụng khi cần suy nghĩ phức tạp, không chắc chắn, hoặc cần phân tích nhiều thông tin trước khi trả lời."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1424,
        1616
      ],
      "id": "0ad38d9a-8b88-4baa-91c4-ede6f31c8f5f",
      "name": "Think"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Response - Version 2.0 (Fixed nested JSON)\nconst items = $input.all();\nconst result = items[0].json;\nlet output = result.output || '';\nlet actionData = null;\nlet cleanOutput = output;\n\n// Hàm tìm JSON object hoàn chỉnh (xử lý nested braces)\nfunction extractJSON(str) {\n  const startIdx = str.indexOf('{');\n  if (startIdx === -1) return null;\n  \n  let braceCount = 0;\n  let endIdx = -1;\n  \n  for (let i = startIdx; i < str.length; i++) {\n    if (str[i] === '{') braceCount++;\n    if (str[i] === '}') braceCount--;\n    if (braceCount === 0) {\n      endIdx = i + 1;\n      break;\n    }\n  }\n  \n  if (endIdx === -1) return null;\n  return str.substring(startIdx, endIdx);\n}\n\n// 1. Thử tìm trong code block ```json ... ```\nconst codeBlockMatch = output.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\nif (codeBlockMatch) {\n  try {\n    const jsonStr = codeBlockMatch[1].trim();\n    actionData = JSON.parse(jsonStr);\n    cleanOutput = output.replace(codeBlockMatch[0], '').trim();\n  } catch (e) {\n    console.log('Code block parse error:', e.message);\n  }\n}\n\n// 2. Thử tìm trong code block ``` ... ```\nif (!actionData) {\n  const genericBlockMatch = output.match(/```\\s*([\\s\\S]*?)\\s*```/i);\n  if (genericBlockMatch) {\n    try {\n      const jsonStr = genericBlockMatch[1].trim();\n      if (jsonStr.startsWith('{')) {\n        actionData = JSON.parse(jsonStr);\n        cleanOutput = output.replace(genericBlockMatch[0], '').trim();\n      }\n    } catch (e) {\n      console.log('Generic block parse error:', e.message);\n    }\n  }\n}\n\n// 3. Tìm JSON object trực tiếp (không có code block)\nif (!actionData && output.includes('\"action\"')) {\n  try {\n    const jsonStr = extractJSON(output);\n    if (jsonStr) {\n      actionData = JSON.parse(jsonStr);\n      cleanOutput = output.replace(jsonStr, '').trim();\n    }\n  } catch (e) {\n    console.log('Direct JSON parse error:', e.message);\n  }\n}\n\n// Clean output\ncleanOutput = cleanOutput\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .replace(/[\\*#]/g, '')\n  .trim();\n\n// Xác định action type\nlet actionType = 'text_only';\nif (actionData && actionData.action) {\n  actionType = actionData.action;\n}\n\n// Debug log\nconsole.log('Raw Output:', output.substring(0, 500));\nconsole.log('Action Type:', actionType);\nconsole.log('Action Data:', actionData ? 'Found' : 'Not found');\n\n// Lấy context\nlet buildContext = {};\ntry {\n  buildContext = $('Build Context').first().json || {};\n} catch (e) {\n  buildContext = {};\n}\n\nreturn [{\n  json: {\n    output: cleanOutput || 'Đã nhận lệnh.',\n    actionType: actionType,\n    actionData: actionData,\n    userId: buildContext.userId || '',\n    sessionId: buildContext.sessionId || '',\n    userInput: buildContext.input || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        1184
      ],
      "id": "78d2202c-e213-4c80-bd06-50ad83820145",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Response').item.json.actionType }}",
                    "rightValue": "create_quote",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f75d914-922c-44ea-aa49-d23de51a7983"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Quote"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Response').item.json.actionType }}",
                    "rightValue": "learn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9a6bf5f9-72cd-4405-8951-849de960a87f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Learn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Response').item.json.actionType }}",
                    "rightValue": "save_customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c31cd3af-ff4b-41f9-9293-1cb9e94ff387"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save Customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43695656-8aee-4cca-aaeb-1f261f2a13f1",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2064,
        1152
      ],
      "id": "4154a581-da73-489d-a843-147488e19d06",
      "name": "Route by Action"
    },
    {
      "parameters": {
        "jsCode": "// Code cho node \"Generate HTML Quote\" trong n8n\n// Version 3.0 - Hỗ trợ cả 2 format data (items và products)\n// FIXED VERSION - Lấy trực tiếp từ Parse Response\nconst parseResponseData = $('Parse Response').first().json;\nconst actionData = parseResponseData.actionData;\nconst data = actionData?.data || {};\n\nconsole.log('=== GENERATE HTML DEBUG ===');\nconsole.log('Items count:', (data.items || data.products || []).length);\nconsole.log('First item:', (data.items || data.products || [])[0]);\n\n// Tạo số báo giá\nconst quoteNumber = `BG-${new Date().toISOString().slice(0,10).replace(/-/g, '')}-${Math.floor(Math.random() * 1000).toString().padStart(3, '0')}`;\nconst now = new Date();\nconst quoteDate = `${now.getDate().toString().padStart(2, '0')}/${(now.getMonth() + 1).toString().padStart(2, '0')}/${now.getFullYear()}`;\nconst dueDate = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000);\nconst dueDateStr = `${dueDate.getDate().toString().padStart(2, '0')}/${(dueDate.getMonth() + 1).toString().padStart(2, '0')}/${dueDate.getFullYear()}`;\n\n// Format số tiền\nfunction formatMoney(num) {\n  if (!num) return '0';\n  return Math.round(num).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n}\n\n// Parse kích thước từ string \"2000 x 2600 x 600 mm\" thành object\nfunction parseSize(sizeStr) {\n  if (!sizeStr) return { length: '', height: '', depth: '' };\n  const parts = sizeStr.replace(/mm/gi, '').trim().split(/\\s*x\\s*/i);\n  return {\n    length: parts[0] || '',\n    height: parts[1] || '',\n    depth: parts[2] || ''\n  };\n}\n\n// ============ HỖ TRỢ CẢ 2 FORMAT ============\n\n// Lấy items - hỗ trợ cả \"items\" (cũ) và \"products\" (mới từ AI)\nlet items = data.items || data.products || [];\n\n// Map lại nếu là format products từ AI\nif (data.products && data.products.length > 0) {\n  items = data.products.map(p => ({\n    name: p.product_name || p.name || '',\n    size: p.size || p.dimensions || p.kich_thuoc || '',\n    material: p.material || p.vat_lieu || '',\n    quantity: p.quantity || p.so_luong || 1,\n    // Tính unitPrice = price_before_vat / quantity\n    unitPrice: p.price_before_vat && p.quantity ? Math.round(p.price_before_vat / p.quantity) : (p.unitPrice || p.unit_price || 0),\n    // amount = total_price_with_vat hoặc price_before_vat\n    amount: p.total_price_with_vat || p.price_before_vat || p.amount || 0,\n    note: p.notes || p.note || p.material || p.vat_lieu || ''\n  }));\n}\n\n// Lấy thông tin tổng - hỗ trợ cả 2 format\nconst summary = data.summary || {};\nconst customerInfo = data.customer_info || {};\n\nconst subtotal = data.subtotal || summary.total_direct_cost_all_products || 0;\nconst profitPercent = data.profitPercent || 25;\nconst profit = data.profit || summary.total_profit_all_products || 0;\nconst priceBeforeVAT = data.priceBeforeVAT || summary.total_price_before_vat_all_products || 0;\nconst vat = data.vat || summary.total_vat_all_products || 0;\nconst totalAmount = data.totalAmount || summary.grand_total_with_vat || 0;\n\n// Thông tin khách hàng\nconst customerName = data.customerName || customerInfo.name || 'Quý khách hàng';\nconst customerPhone = data.customerPhone || customerInfo.phone || 'Chưa cung cấp';\nconst customerAddress = data.customerAddress || customerInfo.address || 'Chưa cung cấp';\n\n// ============ TẠO HTML ============\n\n// Tạo rows cho items\nlet itemsHtml = '';\nlet itemIndex = 0;\n\nfor (const product of items) {\n  itemIndex++;\n  const size = parseSize(product.size);\n  const unit = product.unit || 'Cái';\n  const quantity = product.quantity || 1;\n  const note = product.note || product.material || '';\n  \n  itemsHtml += `\n        <tr>\n          <td class=\"center\">${itemIndex}</td>\n          <td class=\"left product-name\">${product.name || ''}</td>\n          <td class=\"center\">${size.length}</td>\n          <td class=\"center\">${size.height}</td>\n          <td class=\"center\">${size.depth}</td>\n          <td class=\"center\">${unit}</td>\n          <td class=\"center\">${quantity}</td>\n          <td class=\"right\">${formatMoney(product.unitPrice)}</td>\n          <td class=\"right amount\">${formatMoney(product.amount)}</td>\n          <td class=\"left note\">${note}</td>\n        </tr>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Báo giá ${quoteNumber}</title>\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');\n    \n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    \n    body {\n      font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;\n      font-size: 11pt;\n      line-height: 1.5;\n      color: #333;\n      background: #fff;\n      padding: 20px;\n    }\n    \n    .quote-container { max-width: 900px; margin: 0 auto; background: #fff; }\n    \n    .header {\n      background: linear-gradient(135deg, #1a237e 0%, #283593 50%, #3949ab 100%);\n      color: white;\n      padding: 25px 30px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n    \n    .logo-section { display: flex; align-items: center; gap: 15px; }\n    \n    .logo {\n      width: 70px; height: 70px;\n      background: white; border-radius: 10px;\n      display: flex; align-items: center; justify-content: center;\n      font-weight: 700; font-size: 10pt; color: #1a237e;\n      text-align: center; line-height: 1.2;\n    }\n    \n    .company-name { font-size: 22pt; font-weight: 700; letter-spacing: 1px; }\n    .company-slogan { font-size: 10pt; opacity: 0.9; margin-top: 3px; }\n    .quote-title { text-align: right; }\n    .quote-title h1 { font-size: 26pt; font-weight: 700; letter-spacing: 2px; }\n    .quote-number { font-size: 11pt; opacity: 0.9; margin-top: 5px; }\n    \n    .info-bar {\n      background: #e8eaf6;\n      padding: 15px 30px;\n      display: flex;\n      justify-content: space-between;\n      border-bottom: 3px solid #3949ab;\n    }\n    \n    .info-item { text-align: center; }\n    .info-label { font-size: 9pt; color: #666; text-transform: uppercase; letter-spacing: 1px; }\n    .info-value { font-size: 11pt; font-weight: 600; color: #1a237e; margin-top: 3px; }\n    \n    .content { padding: 25px 30px; }\n    .info-grid { display: flex; gap: 30px; margin-bottom: 25px; }\n    \n    .info-box {\n      flex: 1; background: #fafafa; border-radius: 8px;\n      padding: 18px; border-left: 4px solid #3949ab;\n    }\n    .info-box.customer { border-left-color: #43a047; }\n    .info-box h3 {\n      font-size: 10pt; text-transform: uppercase; letter-spacing: 1px;\n      color: #666; margin-bottom: 12px; padding-bottom: 8px;\n      border-bottom: 1px dashed #ddd;\n    }\n    .info-box p { margin: 6px 0; font-size: 10.5pt; }\n    .info-box strong { color: #333; min-width: 90px; display: inline-block; }\n    .highlight-name { font-size: 13pt; font-weight: 600; color: #1a237e; }\n    \n    .table-section { margin-bottom: 25px; }\n    .section-title {\n      background: linear-gradient(90deg, #43a047, #66bb6a);\n      color: white; padding: 10px 15px; font-size: 11pt;\n      font-weight: 600; text-transform: uppercase;\n      letter-spacing: 1px; border-radius: 5px 5px 0 0;\n    }\n    \n    table { width: 100%; border-collapse: collapse; font-size: 10pt; }\n    thead th {\n      background: #37474f; color: white; padding: 12px 8px;\n      font-weight: 500; text-transform: uppercase;\n      font-size: 9pt; letter-spacing: 0.5px;\n    }\n    thead th.size-group { background: #455a64; }\n    tbody tr { border-bottom: 1px solid #e0e0e0; }\n    tbody tr:nth-child(even) { background: #fafafa; }\n    tbody td { padding: 12px 8px; }\n    \n    .center { text-align: center; }\n    .left { text-align: left; }\n    .right { text-align: right; }\n    .product-name { font-weight: 500; color: #1a237e; }\n    .amount { font-weight: 600; color: #c62828; }\n    .note { font-size: 9pt; color: #666; max-width: 150px; }\n    \n    .total-row { background: linear-gradient(90deg, #fff8e1, #ffecb3) !important; }\n    .total-row td { font-weight: 700; font-size: 11pt; padding: 15px 8px; }\n    .total-row .amount { color: #c62828; font-size: 13pt; }\n    \n    .summary-section { display: flex; justify-content: flex-end; margin-bottom: 25px; }\n    .summary-box {\n      width: 350px; background: #fafafa; border-radius: 8px;\n      overflow: hidden; border: 1px solid #e0e0e0;\n    }\n    .summary-row {\n      display: flex; justify-content: space-between;\n      padding: 12px 18px; border-bottom: 1px solid #e0e0e0;\n    }\n    .summary-row:last-child { border-bottom: none; }\n    .summary-label { color: #666; }\n    .summary-value { font-weight: 600; color: #333; }\n    .summary-row.grand-total {\n      background: linear-gradient(90deg, #c62828, #e53935);\n      color: white; padding: 15px 18px;\n    }\n    .summary-row.grand-total .summary-label { color: white; font-weight: 600; font-size: 12pt; }\n    .summary-row.grand-total .summary-value { color: white; font-size: 16pt; font-weight: 700; }\n    \n    .notes-section {\n      background: #fff3e0; border-radius: 8px; padding: 18px;\n      margin-bottom: 25px; border-left: 4px solid #ff9800;\n    }\n    .notes-section h4 { color: #e65100; font-size: 11pt; margin-bottom: 12px; }\n    .notes-section ul { margin-left: 20px; color: #666; }\n    .notes-section li { margin: 6px 0; font-size: 10pt; }\n    \n    .bank-section {\n      background: #e3f2fd; border-radius: 8px; padding: 18px;\n      margin-bottom: 25px; border-left: 4px solid #1976d2;\n    }\n    .bank-section h4 { color: #1565c0; font-size: 11pt; margin-bottom: 12px; }\n    .bank-info p { margin: 5px 0; font-size: 10.5pt; }\n    .bank-info strong { min-width: 120px; display: inline-block; }\n    \n    .signatures {\n      display: flex; justify-content: space-between;\n      margin-top: 30px; padding-top: 20px;\n      border-top: 2px dashed #e0e0e0;\n    }\n    .signature-block { width: 45%; text-align: center; }\n    .signature-date { font-style: italic; color: #666; font-size: 10pt; margin-bottom: 8px; }\n    .signature-title { font-weight: 700; color: #1a237e; text-transform: uppercase; font-size: 11pt; margin-bottom: 5px; }\n    .signature-note { font-size: 9pt; color: #999; }\n    .signature-space { height: 70px; margin: 10px 0; }\n    .signature-name { font-weight: 600; color: #333; min-height: 20px; }\n    \n    .footer {\n      background: #37474f; color: white; padding: 15px 30px;\n      text-align: center; font-size: 9pt;\n    }\n    .footer p { margin: 3px 0; opacity: 0.9; }\n    .footer .highlight { color: #ffeb3b; font-weight: 600; }\n  </style>\n</head>\n<body>\n  <div class=\"quote-container\">\n    <div class=\"header\">\n      <div class=\"logo-section\">\n        <div class=\"logo\">MINH<br>KHOA</div>\n        <div>\n          <div class=\"company-name\">NỘI THẤT MINHKHOA</div>\n          <div class=\"company-slogan\">Chuyên đồ gỗ nội thất cao cấp</div>\n        </div>\n      </div>\n      <div class=\"quote-title\">\n        <h1>BÁO GIÁ</h1>\n        <div class=\"quote-number\">Số: ${quoteNumber}</div>\n      </div>\n    </div>\n    \n    <div class=\"info-bar\">\n      <div class=\"info-item\">\n        <div class=\"info-label\">Ngày lập</div>\n        <div class=\"info-value\">${quoteDate}</div>\n      </div>\n      <div class=\"info-item\">\n        <div class=\"info-label\">Hiệu lực đến</div>\n        <div class=\"info-value\">${dueDateStr}</div>\n      </div>\n      <div class=\"info-item\">\n        <div class=\"info-label\">Trạng thái</div>\n        <div class=\"info-value\" style=\"color: #ff9800;\">Chờ xác nhận</div>\n      </div>\n      <div class=\"info-item\">\n        <div class=\"info-label\">Người lập</div>\n        <div class=\"info-value\">Bộ phận Kinh doanh</div>\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"info-grid\">\n        <div class=\"info-box customer\">\n          <h3>Thông tin khách hàng</h3>\n          <p class=\"highlight-name\">${customerName}</p>\n          <p><strong>Điện thoại:</strong> ${customerPhone}</p>\n          <p><strong>Địa chỉ:</strong> ${customerAddress}</p>\n        </div>\n        <div class=\"info-box\">\n          <h3>Thông tin xưởng</h3>\n          <p><strong>Xưởng SX:</strong> Thôn Me Táo, Dương Hòa, Hoài Đức, Hà Nội</p>\n          <p><strong>Hotline:</strong> 0987 654 321</p>\n          <p><strong>Email:</strong> contact@minhkhoa.vn</p>\n        </div>\n      </div>\n      \n      <div class=\"table-section\">\n        <div class=\"section-title\">Chi tiết sản phẩm</div>\n        <table>\n          <thead>\n            <tr>\n              <th rowspan=\"2\" style=\"width: 40px;\">STT</th>\n              <th rowspan=\"2\" style=\"width: 160px;\">Tên sản phẩm</th>\n              <th colspan=\"3\" class=\"size-group\" style=\"width: 150px;\">Quy cách (mm)</th>\n              <th rowspan=\"2\" style=\"width: 45px;\">ĐVT</th>\n              <th rowspan=\"2\" style=\"width: 40px;\">SL</th>\n              <th rowspan=\"2\" style=\"width: 90px;\">Đơn giá</th>\n              <th rowspan=\"2\" style=\"width: 100px;\">Thành tiền</th>\n              <th rowspan=\"2\" style=\"width: 140px;\">Ghi chú</th>\n            </tr>\n            <tr>\n              <th class=\"size-group\" style=\"width: 50px;\">DÀI</th>\n              <th class=\"size-group\" style=\"width: 50px;\">CAO</th>\n              <th class=\"size-group\" style=\"width: 50px;\">SÂU</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${itemsHtml}\n            <tr class=\"total-row\">\n              <td colspan=\"8\" class=\"center\">TỔNG CỘNG SẢN PHẨM</td>\n              <td class=\"right amount\">${formatMoney(subtotal)}</td>\n              <td></td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <div class=\"summary-section\">\n        <div class=\"summary-box\">\n          <div class=\"summary-row\">\n            <span class=\"summary-label\">Chi phí sản xuất:</span>\n            <span class=\"summary-value\">${formatMoney(subtotal)} ₫</span>\n          </div>\n          <div class=\"summary-row\">\n            <span class=\"summary-label\">Lợi nhuận (${profitPercent}%):</span>\n            <span class=\"summary-value\">${formatMoney(profit)} ₫</span>\n          </div>\n          <div class=\"summary-row\">\n            <span class=\"summary-label\">Giá trước VAT:</span>\n            <span class=\"summary-value\">${formatMoney(priceBeforeVAT)} ₫</span>\n          </div>\n          <div class=\"summary-row\">\n            <span class=\"summary-label\">VAT (10%):</span>\n            <span class=\"summary-value\">${formatMoney(vat)} ₫</span>\n          </div>\n          <div class=\"summary-row grand-total\">\n            <span class=\"summary-label\">TỔNG THANH TOÁN:</span>\n            <span class=\"summary-value\">${formatMoney(totalAmount)} ₫</span>\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"bank-section\">\n        <h4>Thông tin thanh toán</h4>\n        <div class=\"bank-info\">\n          <p><strong>Ngân hàng:</strong> Vietcombank - Chi nhánh Hà Nội</p>\n          <p><strong>Số tài khoản:</strong> 0123 456 789</p>\n          <p><strong>Chủ tài khoản:</strong> NGUYỄN TIẾN BIÊN</p>\n          <p><strong>Nội dung CK:</strong> ${quoteNumber} - ${customerName}</p>\n        </div>\n      </div>\n      \n      <div class=\"notes-section\">\n        <h4>Điều khoản & Ghi chú</h4>\n        <ul>\n          <li><strong>Hiệu lực:</strong> Báo giá có hiệu lực trong vòng 7 ngày kể từ ngày lập</li>\n          <li><strong>Thanh toán:</strong> Đặt cọc 50% khi ký hợp đồng, 50% còn lại khi giao hàng</li>\n          <li><strong>Thời gian SX:</strong> 15-20 ngày làm việc kể từ khi nhận đủ cọc</li>\n          <li><strong>Vận chuyển:</strong> Miễn phí nội thành Hà Nội, ngoại tỉnh tính phí theo km</li>\n          <li><strong>Bảo hành:</strong> 12 tháng đối với lỗi kỹ thuật từ nhà sản xuất</li>\n          <li><strong>Lắp đặt:</strong> Miễn phí lắp đặt tại nhà khách hàng</li>\n        </ul>\n      </div>\n      \n      <div class=\"signatures\">\n        <div class=\"signature-block\">\n          <div class=\"signature-title\">Khách hàng</div>\n          <div class=\"signature-note\">(Ký, ghi rõ họ tên)</div>\n          <div class=\"signature-space\"></div>\n          <div class=\"signature-name\">${customerName}</div>\n        </div>\n        <div class=\"signature-block\">\n          <div class=\"signature-date\">Hà Nội, ngày ${quoteDate}</div>\n          <div class=\"signature-title\">Đại diện xưởng</div>\n          <div class=\"signature-note\">(Ký, ghi rõ họ tên)</div>\n          <div class=\"signature-space\"></div>\n          <div class=\"signature-name\">Nguyễn Tiến Biên</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><span class=\"highlight\">NỘI THẤT MINHKHOA</span> - Uy tín tạo nên thương hiệu</p>\n      <p>Địa chỉ: Thôn Me Táo, xã Dương Hòa, huyện Hoài Đức, Hà Nội | Hotline: 0987 654 321</p>\n      <p>Website: www.minhkhoa.vn | Email: contact@minhkhoa.vn</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...item,\n    html: html,\n    quoteNumber: quoteNumber,\n    quoteDate: quoteDate,\n    quoteData: {\n      customerName,\n      customerPhone,\n      customerAddress,\n      items,\n      subtotal,\n      profit,\n      priceBeforeVAT,\n      vat,\n      totalAmount\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        992
      ],
      "id": "49b9f479-9f04-4199-88ee-bd8fa7c115ce",
      "name": "Generate HTML Quote"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "quote_history",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        3344,
        992
      ],
      "id": "379a6e88-37a7-4ea9-82b7-ec56f7c88c60",
      "name": "Save Quote to MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZH2m2ilxfmOsL2nHvX7eN7LVcbIAbjWerXziqFem094",
          "mode": "list",
          "cachedResultName": "Agent ke toan Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZH2m2ilxfmOsL2nHvX7eN7LVcbIAbjWerXziqFem094/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1928603486,
          "mode": "list",
          "cachedResultName": "Lich_su_bao_gia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZH2m2ilxfmOsL2nHvX7eN7LVcbIAbjWerXziqFem094/edit#gid=1928603486"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mã báo giá": "={{ $('Generate HTML Quote').item.json.quoteNumber }}",
            "Ngày tạo": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Khách hàng": "={{ $('Generate HTML Quote').item.json.quoteData.customerName }}",
            "SĐT": "={{ $('Generate HTML Quote').item.json.quoteData.customerPhone }}",
            "Địa chỉ": "={{ $('Generate HTML Quote').item.json.quoteData.customerAddress }}",
            "Sản phẩm": "={{ $('Generate HTML Quote').item.json.quoteData.items.map(i => i.name + ' x' + i.quantity).join(', ') }}",
            "Tổng tiền": "={{ $('Generate HTML Quote').item.json.quoteData.totalAmount }}",
            "Trạng thái": "Chờ xác nhận",
            "Người tạo": "={{ $('Generate HTML Quote').item.json.userName }}",
            "Ghi chú": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mã báo giá",
              "displayName": "Mã báo giá",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày tạo",
              "displayName": "Ngày tạo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Khách hàng",
              "displayName": "Khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SĐT",
              "displayName": "SĐT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa chỉ",
              "displayName": "Địa chỉ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sản phẩm",
              "displayName": "Sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tổng tiền",
              "displayName": "Tổng tiền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Người tạo",
              "displayName": "Người tạo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ghi chú",
              "displayName": "Ghi chú",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3536,
        992
      ],
      "id": "e01b2b32-539d-4784-913c-fd0eaadd0637",
      "name": "Save Quote to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9q7ceY6SMWzzelv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "learning_memory",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2336,
        1168
      ],
      "id": "98d66d7d-d158-4bc8-944c-6e4b1d861ba9",
      "name": "Save Learning",
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "customer_memory",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2336,
        1344
      ],
      "id": "0403f280-8d17-43a7-a369-b5c693917513",
      "name": "Save Customer",
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4400,
        1152
      ],
      "id": "7c42bdaf-84f9-40d7-ba18-5fe7f230092a",
      "name": "Merge All Paths"
    },
    {
      "parameters": {
        "jsCode": "// Final Output - Xử lý text và gộp link PDF/Image\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\n// Lấy output text\nlet output = '';\ntry {\n  output = item.output || $('Parse Response').first().json.output || '';\n} catch (e) {\n  output = item.output || '';\n}\n\n// Lấy thông tin khác\nconst imageUrl = item.imageUrl || '';\nconst pdfUrl = item.pdfUrl || '';\nconst quoteNumber = item.quoteNumber || '';\n\n// Xử lý final text\nlet finalText = output;\n\n// Nếu có báo giá (có ảnh hoặc PDF), chỉ gửi tóm tắt ngắn\nif (imageUrl || pdfUrl) {\n  // Tìm dòng tổng cộng hoặc tóm tắt\n  const lines = output.split('\\n');\n  let summary = '';\n  \n  // Lấy 5 dòng đầu + dòng tổng cộng\n  const firstLines = lines.slice(0, 5).join('\\n');\n  const totalLine = lines.find(l => l.includes('Tổng cộng') || l.includes('TỔNG CỘNG') || l.includes('tổng cộng'));\n  \n  if (totalLine) {\n    summary = firstLines + '\\n\\n...\\n\\n' + totalLine;\n  } else {\n    summary = firstLines + '\\n\\n(Xem chi tiết trong ảnh/PDF)';\n  }\n  \n  // Thêm link PDF\n  if (pdfUrl) {\n    summary += '\\n\\n📄 Tải PDF: ' + pdfUrl;\n  }\n  \n  finalText = summary;\n} else if (output.length > 1900) {\n  // Không có báo giá, chỉ cắt ngắn\n  finalText = output.substring(0, 1900) + '...';\n}\n\nreturn [{\n  json: {\n    output: finalText,\n    quoteNumber: quoteNumber,\n    imageUrl: imageUrl,\n    pdfUrl: pdfUrl,\n    hasImage: !!imageUrl,\n    hasPDF: !!pdfUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        1200
      ],
      "id": "e4cc3050-d094-4faf-ab07-c3110fe83113",
      "name": "Final Output"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tra cứu danh sách SẢN PHẨM nội thất.",
        "documentId": {
          "__rl": true,
          "value": "1gDaQ10mKcENYFZPkxrILvSX0lEDS30V32i6J5agsmOE",
          "mode": "list",
          "cachedResultName": "San pham",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gDaQ10mKcENYFZPkxrILvSX0lEDS30V32i6J5agsmOE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 985133818,
          "mode": "list",
          "cachedResultName": "San_pham_updated (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gDaQ10mKcENYFZPkxrILvSX0lEDS30V32i6J5agsmOE/edit#gid=985133818"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        1616
      ],
      "id": "5ef8077b-61d4-43fe-8bd9-731dd53f998e",
      "name": "San pham",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9q7ceY6SMWzzelv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tra cứu danh sách VẬT LIỆU và ĐƠN GIÁ.",
        "documentId": {
          "__rl": true,
          "value": "1xajQJ0y-v0pSRW4lQsV6R8W1whVufUqt6B5sbIhmrXQ",
          "mode": "list",
          "cachedResultName": "Vat lieu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xajQJ0y-v0pSRW4lQsV6R8W1whVufUqt6B5sbIhmrXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 240216695,
          "mode": "list",
          "cachedResultName": "Vat_lieu_updated",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xajQJ0y-v0pSRW4lQsV6R8W1whVufUqt6B5sbIhmrXQ/edit#gid=240216695"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1024,
        1616
      ],
      "id": "3d78bd7d-b4e9-4144-824e-65d2cdc8dfbc",
      "name": "Vat lieu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9q7ceY6SMWzzelv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Kiểm tra TỒN KHO vật liệu.",
        "documentId": {
          "__rl": true,
          "value": "1z4PqH5aF-LKz84jalhWamTRG7OnW_MUkV3YWQlaFOUY",
          "mode": "list",
          "cachedResultName": "Ton kho",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4PqH5aF-LKz84jalhWamTRG7OnW_MUkV3YWQlaFOUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1662890050,
          "mode": "list",
          "cachedResultName": "Ton_kho",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4PqH5aF-LKz84jalhWamTRG7OnW_MUkV3YWQlaFOUY/edit#gid=1662890050"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1168,
        1616
      ],
      "id": "14f6987e-5d45-477e-a8dd-e77b0f69aad6",
      "name": "Ton kho",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k9q7ceY6SMWzzelv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "# ⚠️ QUY TẮC BẮT BUỘC - ĐỌC TRƯỚC KHI TRẢ LỜI\n\n## QUAN TRỌNG NHẤT: KHI TẠO BÁO GIÁ\nKhi sếp yêu cầu \"tạo báo giá\", \"lập báo giá\", \"tạo lại báo giá\", \"làm báo giá\", \"báo giá cho khách\", \"tính giá\", \"lên đơn\":\n→ PHẢI trả về JSON `create_quote` ở cuối response\n→ KHÔNG ĐƯỢC chỉ trả lời text mô tả mà thiếu JSON\n→ Nếu thiếu JSON → File báo giá KHÔNG được tạo!\n\n---\n\n# OVERVIEW\nBạn là Trợ lý Kế toán chuyên trách của xưởng nội thất MinhKhoa.\n\n# CONTEXT\n{{ $json.customerContext }}\n{{ $json.learningContext }}\n\n# TOOLS & RULES\n1. Calculator: BẮT BUỘC dùng để tính toán mọi con số. KHÔNG tính nhẩm.\n2. Tra cứu: Dùng tools (San pham, Vat lieu, Ton kho) để lấy dữ liệu.\n\n# OUTPUT FORMAT\n1. Lời thoại:\n   - Text thuần, KHÔNG dùng markdown (**, ##, ```)\n   - Xưng hô: \"em\" - \"sếp\"\n   - Số tiền: dấu chấm phân cách (1.500.000 VNĐ)\n\n2. JSON Action: Đặt ở CUỐI CÙNG response khi cần hành động\n\n---\n\n# ACTION SCENARIOS\n\n## 1. TẠO BÁO GIÁ MỚI\nTừ khóa: \"tạo báo giá\", \"lập báo giá\", \"tạo lại\", \"làm báo giá\", \"báo giá cho\", \"tính giá\", \"lên đơn\"\n\nQuy trình:\n1. Dùng Calculator tính toán\n2. Trả lời ngắn: \"Dạ, em đã tính xong báo giá cho [Tên khách]. Tổng cộng: X VNĐ\"\n3. ĐÍNH KÈM JSON (BẮT BUỘC):\n\n```json\n{\n  \"action\": \"create_quote\",\n  \"data\": {\n    \"customerName\": \"Tên khách\",\n    \"customerPhone\": \"SĐT\",\n    \"customerAddress\": \"Địa chỉ\",\n    \"items\": [\n      {\n        \"name\": \"Tên sản phẩm\",\n        \"size\": \"1800 x 2000 x 600 mm\",\n        \"material\": \"Vật liệu\",\n        \"quantity\": 1,\n        \"unitPrice\": 1000000,\n        \"amount\": 1000000,\n        \"note\": \"Ghi chú\"\n      }\n    ],\n    \"subtotal\": 1000000,\n    \"profitPercent\": 25,\n    \"profit\": 250000,\n    \"priceBeforeVAT\": 1250000,\n    \"vat\": 125000,\n    \"totalAmount\": 1375000\n  }\n}\n```\n\nGiải thích fields:\n- unitPrice = Giá bán 1 sản phẩm (đã tính lợi nhuận, CHƯA VAT)\n- amount = unitPrice × quantity\n- subtotal = Tổng chi phí sản xuất (chưa lợi nhuận)\n- profit = subtotal × profitPercent / 100\n- priceBeforeVAT = subtotal + profit\n- vat = priceBeforeVAT × 10%\n- totalAmount = priceBeforeVAT + vat\n- Tất cả số tiền là NUMBER, không có dấu chấm\n\n## 2. GỬI LẠI PDF/FILE\nTừ khóa: \"gửi pdf\", \"gửi lại file\", \"tải pdf\", \"mỗi pdf\", \"chỉ cần file\"\n\n→ CHỈ trả về: \"Đây là file PDF báo giá [mã]: [link_pdf]\"\n→ KHÔNG tạo báo giá mới\n→ KHÔNG mô tả chi tiết\n\n## 3. HỎI ĐÁP THÔNG THƯỜNG\nTừ khóa: hỏi giá vật liệu, tra cứu sản phẩm, tồn kho...\n\n→ Trả lời text bình thường\n→ KHÔNG cần JSON\n\n## 4. LƯU THÔNG TIN HỌC\nKhi sếp dạy kiến thức mới hoặc sửa sai\n\n```json\n{\n  \"action\": \"learn\",\n  \"data\": {\n    \"type\": \"knowledge|preference|correction\",\n    \"content\": \"Nội dung học\",\n    \"wrong\": \"Nếu là correction - cái sai\",\n    \"correct\": \"Nếu là correction - cái đúng\"\n  }\n}\n```\n\n## 5. LƯU KHÁCH HÀNG\nKhi có thông tin khách hàng mới\n\n```json\n{\n  \"action\": \"save_customer\",\n  \"data\": {\n    \"name\": \"Tên khách\",\n    \"phone\": \"SĐT\",\n    \"address\": \"Địa chỉ\",\n    \"email\": \"Email\"\n  }\n}\n```\n\n---\n\n# VÍ DỤ RESPONSE ĐÚNG\n\n## Ví dụ 1: Tạo báo giá\nUser: \"Tạo báo giá cho khách Nguyễn Văn A, 2 tủ quần áo 3 cánh\"\n\nResponse:\nDạ, em đã tính xong báo giá cho khách Nguyễn Văn A. Tổng cộng là 15.125.000 VNĐ (đã bao gồm VAT 10%).\n\n```json\n{\n  \"action\": \"create_quote\",\n  \"data\": {\n    \"customerName\": \"Nguyễn Văn A\",\n    \"customerPhone\": \"Chưa cung cấp\",\n    \"customerAddress\": \"Chưa cung cấp\",\n    \"items\": [\n      {\n        \"name\": \"Tủ quần áo 3 cánh\",\n        \"size\": \"1800 x 2200 x 600 mm\",\n        \"material\": \"Gỗ công nghiệp MDF\",\n        \"quantity\": 2,\n        \"unitPrice\": 5500000,\n        \"amount\": 11000000,\n        \"note\": \"\"\n      }\n    ],\n    \"subtotal\": 8800000,\n    \"profitPercent\": 25,\n    \"profit\": 2200000,\n    \"priceBeforeVAT\": 11000000,\n    \"vat\": 1100000,\n    \"totalAmount\": 12100000\n  }\n}\n```\n\n## Ví dụ 2: Gửi lại PDF\nUser: \"Gửi lại mỗi pdf thôi\"\n\nResponse:\nĐây là file PDF báo giá BG-20251220-123: https://res.cloudinary.com/.../BG-20251220-123.pdf\n\n## Ví dụ 3: Hỏi đáp\nUser: \"Giá gỗ sồi bao nhiêu?\"\n\nResponse:\nDạ, giá gỗ sồi hiện tại là 15.000.000 VNĐ/m3 ạ.\n\n---\n\n# LƯU Ý CUỐI\n- LUÔN dùng Calculator khi tính toán\n- LUÔN đính kèm JSON khi tạo báo giá\n- KHÔNG dùng markdown trong text\n- JSON phải ở CUỐI CÙNG response\n- Số trong JSON là NUMBER (không có dấu chấm)\n- Số trong text là STRING (có dấu chấm: 1.500.000)",
          "maxIterations": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        1184
      ],
      "id": "e706917e-5a88-430e-adfc-cecfe21d4699",
      "name": "Tro ly ke toan"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/html/to/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7ae85d2e-0154-4452-b984-9f23aaeb0f8e",
      "name": "Convert File to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3024,
        992
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "bEw05s03CLMgzBsy",
          "name": "ConvertAPI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst htmlContent = item.html;\n\nif (!htmlContent) {\n  throw new Error(\"Không tìm thấy nội dung HTML!\");\n}\n\nconst binaryData = Buffer.from(htmlContent, 'utf8').toString('base64');\n\nreturn {\n  json: item,\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/html',\n      fileName: `Bao_Gia_${item.quoteNumber || 'file'}.html`\n    }\n  }\n};"
      },
      "id": "2ebc9914-4aee-4436-9529-d3b03b2ca583",
      "name": "Convert HTML to File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        992
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        1824
      ],
      "id": "29626cd8-a21b-478b-90b9-efc13600c080",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsCode": "// Chuẩn bị PDF để upload\nconst item = $input.first();\nconst binaryData = { ...item.binary.data };\n\nconst quoteNumber = item.json.quoteNumber || 'quote_' + Date.now();\nbinaryData.fileName = `Bao_Gia_${quoteNumber}.pdf`;\nbinaryData.fileExtension = 'pdf';\nbinaryData.mimeType = 'application/pdf';\n\nreturn [{\n  json: { ...item.json, quoteNumber },\n  binary: { data: binaryData }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        1344
      ],
      "id": "3e9e3478-7ba0-4748-a007-4348f1a3d845",
      "name": "Prepare PDF for Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/pdf/to/png",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "PageRange",
              "value": "1"
            },
            {
              "name": "ImageResolution",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        1536
      ],
      "id": "5a7099c2-dcb6-4d9c-b35a-21bf2144da45",
      "name": "Convert PDF to Image",
      "credentials": {
        "httpBearerAuth": {
          "id": "bEw05s03CLMgzBsy",
          "name": "ConvertAPI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Chuẩn bị Image để upload\nconst item = $input.first();\nconst binaryData = { ...item.binary.data };\n\nlet quoteNumber = '';\ntry {\n  quoteNumber = $('Generate HTML Quote').first().json.quoteNumber || '';\n} catch(e) {\n  quoteNumber = 'quote_' + Date.now();\n}\n\nbinaryData.fileName = `Bao_Gia_${quoteNumber}.png`;\nbinaryData.fileExtension = 'png';\nbinaryData.mimeType = 'image/png';\n\nreturn [{\n  json: { ...item.json, quoteNumber },\n  binary: { data: binaryData }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        1536
      ],
      "id": "08039895-e6a6-4bd5-91ad-5f7dab326e01",
      "name": "Prepare Image for Upload"
    },
    {
      "parameters": {
        "jsCode": "// Chuẩn bị PDF để convert sang Image\nconst item = $input.first();\nconst binaryData = { ...item.binary.data };\n\n// Lấy quoteNumber\nlet quoteNumber = '';\ntry {\n  quoteNumber = $('Generate HTML Quote').first().json.quoteNumber || '';\n} catch(e) {\n  quoteNumber = 'quote_' + Date.now();\n}\n\n// Đổi extension và mimeType để ConvertAPI nhận ra là PDF\nbinaryData.fileName = `Bao_Gia_${quoteNumber}.pdf`;\nbinaryData.fileExtension = 'pdf';\nbinaryData.mimeType = 'application/pdf';\n\nreturn [{\n  json: { ...item.json, quoteNumber },\n  binary: { data: binaryData }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        1536
      ],
      "id": "5cc70341-7e02-4c2f-9a33-756d63e3b62e",
      "name": "Prepare PDF for Convert"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1824,
        1184
      ],
      "id": "e8283386-7dc0-4d95-b4c7-c6d2baf432cf",
      "name": "Save Chat History",
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-v3.1:671b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        352,
        1824
      ],
      "id": "e907a961-c421-43cb-9e06-903930fb20a4",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        768,
        1616
      ],
      "id": "1afd960c-6de8-4e18-9693-3aa72d34728e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MJfpFBAmvmcIM1N3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ 'Bao_Gia_' + $json.quoteNumber + '.pdf' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xHevZYNqdAQGNPwfABKYf1jZ4Bdxi1JY",
          "mode": "list",
          "cachedResultName": "PDF báo giá",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xHevZYNqdAQGNPwfABKYf1jZ4Bdxi1JY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3552,
        1344
      ],
      "id": "84b749ea-b10f-49a7-b9de-8c40a1c05ce7",
      "name": "Upload PDF to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Wh9sc7eznzxfDza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3744,
        1344
      ],
      "id": "d004641b-00bd-43f8-9a9f-2f21b9ea495c",
      "name": "Share PDF Public",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Wh9sc7eznzxfDza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ 'img_' + $json.quoteNumber + '.png' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xHevZYNqdAQGNPwfABKYf1jZ4Bdxi1JY",
          "mode": "list",
          "cachedResultName": "PDF báo giá",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xHevZYNqdAQGNPwfABKYf1jZ4Bdxi1JY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3744,
        1536
      ],
      "id": "b9090130-3c90-4fdb-96ba-bc618437afc8",
      "name": "Upload Image to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Wh9sc7eznzxfDza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3936,
        1536
      ],
      "id": "70ead9ae-b567-40ff-98e9-005544f40d8a",
      "name": "Share Image Public",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Wh9sc7eznzxfDza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4112,
        1360
      ],
      "id": "69d1640b-0dc7-481b-98cf-95af32b3ac8f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Chuẩn bị search từ nhiều nguồn\nconst input = $input.first().json;\nconst query = input.input || input.prompt || input.content || '';  // THÊM input.input\nconst queryLower = query.toLowerCase();\n\n// Phân tích intent\nlet searchType = 'general';\nlet needWebSearch = false;\nlet webSearchQuery = '';\n\n// Xác định loại search cần thiết\nif (queryLower.includes('giá thị trường') || queryLower.includes('giá hiện tại') || \n    queryLower.includes('xu hướng') || queryLower.includes('mới nhất')) {\n  needWebSearch = true;\n  webSearchQuery = query + ' giá vật liệu nội thất Việt Nam 2024';\n  searchType = 'market_price';\n}\n\nif (queryLower.includes('đối thủ') || queryLower.includes('thị trường') ||\n    queryLower.includes('so sánh giá')) {\n  needWebSearch = true;\n  webSearchQuery = query + ' nội thất Việt Nam';\n  searchType = 'competitor';\n}\n\n// Keywords cho RAG search\nlet ragKeywords = query;\nif (queryLower.includes('giá') || queryLower.includes('báo giá')) {\n  ragKeywords += ' giá vật liệu chi phí';\n}\nif (queryLower.includes('gỗ') || queryLower.includes('vật liệu')) {\n  ragKeywords += ' gỗ MDF MFC sồi óc chó';\n}\n\nreturn [{\n  json: {\n    originalInput: input,\n    ragQuery: ragKeywords,\n    needWebSearch: needWebSearch,\n    webSearchQuery: webSearchQuery,\n    searchType: searchType,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1200
      ],
      "id": "c8673b3e-58ef-448d-956f-b36d1e6492c4",
      "name": "Prepare Smart Search"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BKK33Pu7stWD1pR1",
          "mode": "list",
          "cachedResultUrl": "/workflow/BKK33Pu7stWD1pR1",
          "cachedResultName": "Tool - RAG Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "action": "search",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -752,
        1200
      ],
      "id": "f70c1eae-96c2-464f-a2de-abd06e231648",
      "name": "Search RAG Knowledge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47ec8530-201d-4098-8770-b2eeb08c39c7",
              "leftValue": "={{ $('Prepare Smart Search').item.json.needWebSearch }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        1200
      ],
      "id": "317a026e-d500-4309-b170-134d367c09be",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Merge tất cả nguồn knowledge\nconst prepareData = $('Prepare Smart Search').first().json;\nconst originalInput = prepareData.originalInput;\n\n// 1. RAG Results\nlet ragContext = '';\ntry {\n  const ragResult = $('Search RAG Knowledge').first().json;\n  if (ragResult && ragResult.success && ragResult.results && ragResult.results.length > 0) {\n    ragContext = ragResult.results\n      .map(r => `• [${r.category}] ${r.content} (độ tin cậy: ${r.similarity})`)\n      .join('\\n');\n  }\n} catch (e) {\n  ragContext = '';\n}\n\n// 2. Tavily Results (nếu có)\nlet webContext = '';\ntry {\n  // Chỉ lấy nếu needWebSearch = true VÀ có kết quả\n  if (prepareData.needWebSearch) {\n    const tavilyResult = $('Search').first().json;\n    if (tavilyResult && tavilyResult.answer) {\n      webContext = `Tóm tắt: ${tavilyResult.answer}\\n`;\n    }\n    if (tavilyResult && tavilyResult.results && tavilyResult.results.length > 0) {\n      webContext += tavilyResult.results\n        .slice(0, 3)\n        .map(r => `• ${r.title}: ${r.content.substring(0, 200)}...`)\n        .join('\\n');\n    }\n  }\n} catch (e) {\n  // Không có Tavily result - OK, bỏ qua\n  webContext = '';\n}\n\n// 3. Build Smart Context với priority\nlet smartContext = '';\n\nif (ragContext) {\n  smartContext += `\n═══════════════════════════════════════\n📚 KIẾN THỨC ĐÃ HỌC TỪ SẾP (ƯU TIÊN CAO)\n═══════════════════════════════════════\n${ragContext}\n\n⚠️ LƯU Ý: Thông tin từ sếp dạy được ƯU TIÊN hơn các nguồn khác!\n`;\n}\n\nif (webContext) {\n  smartContext += `\n═══════════════════════════════════════\n🌐 THÔNG TIN THỊ TRƯỜNG (THAM KHẢO)\n═══════════════════════════════════════\n${webContext}\n\n⚠️ LƯU Ý: Đây là thông tin tham khảo, ưu tiên dùng giá của xưởng!\n`;\n}\n\n// 4. Thêm hướng dẫn sử dụng\nlet usageGuide = '';\nif (ragContext || webContext) {\n  usageGuide = `\n═══════════════════════════════════════\n📋 HƯỚNG DẪN SỬ DỤNG KIẾN THỨC\n═══════════════════════════════════════\n1. ƯU TIÊN 1: Kiến thức sếp đã dạy (nếu có)\n2. ƯU TIÊN 2: Database sản phẩm/vật liệu của xưởng\n3. ƯU TIÊN 3: Thông tin thị trường (chỉ tham khảo)\n\nNếu sếp hỏi \"giá thị trường\" → dùng thông tin web\nNếu sếp hỏi \"giá của mình\" → dùng kiến thức đã học + database\n`;\n}\n\nreturn [{\n  json: {\n    ...originalInput,\n    smartContext: smartContext + usageGuide,\n    hasRAGKnowledge: ragContext !== '',\n    hasWebKnowledge: webContext !== '',\n    searchType: prepareData.searchType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        992
      ],
      "id": "01ee1458-8ccc-4a6d-8cba-d606e6d93830",
      "name": "Merge All Knowledge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aff3d56e-ea7c-46c9-ad48-c27e788d362f",
              "leftValue": "={{ $json.shouldLearn }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2544,
        1536
      ],
      "id": "38565384-f896-4d8a-8d3a-e9e47e333104",
      "name": "If Should Learn"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BKK33Pu7stWD1pR1",
          "mode": "list",
          "cachedResultUrl": "/workflow/BKK33Pu7stWD1pR1",
          "cachedResultName": "Tool - RAG Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query}}",
            "action": "save"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2848,
        1520
      ],
      "id": "6860a0f1-71e7-48cb-9bf5-95da942e914f",
      "name": "Execute Save to RAG"
    },
    {
      "parameters": {
        "jsCode": "// Detect knowledge mới cần học từ conversation\nconst input = $input.first().json;\n\n// Lấy output từ agent và input từ user\nlet agentOutput = '';\nlet userInput = '';\n\ntry {\n  agentOutput = $('Tro ly ke toan').first().json.output || '';\n} catch (e) {\n  agentOutput = '';\n}\n\ntry {\n  userInput = $('Parse Input').first().json.prompt || \n              $('Parse Input').first().json.content || '';\n} catch (e) {\n  userInput = '';\n}\n\n// Patterns cần học\nconst learnPatterns = [\n  { pattern: /nhớ (là|rằng|nhé)/i, category: 'knowledge' },\n  { pattern: /ghi nhớ/i, category: 'knowledge' },\n  { pattern: /từ (giờ|nay)/i, category: 'preference' },\n  { pattern: /quy định (mới|là)/i, category: 'process' },\n  { pattern: /sai rồi.*(đúng là|phải là)/i, category: 'correction' },\n  { pattern: /không phải.*(mà là|là)/i, category: 'correction' },\n  { pattern: /giá\\s+\\w+\\s*(là|=|:)?\\s*\\d+/i, category: 'pricing' },\n  { pattern: /(\\d+)\\s*(triệu|tr|nghìn|k|vnđ|vnd)/i, category: 'pricing' }\n];\n\nlet shouldLearn = false;\nlet category = 'general';\nlet contentToLearn = userInput;\n\n// Check patterns\nfor (const item of learnPatterns) {\n  if (item.pattern.test(userInput)) {\n    shouldLearn = true;\n    category = item.category;\n    break;\n  }\n}\n\n// Nếu agent xác nhận đã học\nif (agentOutput.toLowerCase().includes('đã ghi nhớ') || \n    agentOutput.toLowerCase().includes('em nhớ rồi') ||\n    agentOutput.toLowerCase().includes('đã lưu')) {\n  shouldLearn = true;\n}\n\n// Tạo content có cấu trúc\nif (shouldLearn && category === 'correction') {\n  // Extract cái sai và cái đúng\n  const correctionMatch = userInput.match(/(.+?)(sai|không phải).+?(đúng là|phải là|mà là)\\s*(.+)/i);\n  if (correctionMatch) {\n    contentToLearn = `CORRECTION: \"${correctionMatch[1].trim()}\" → \"${correctionMatch[4].trim()}\"`;\n  }\n}\n\nreturn [{\n  json: {\n    shouldLearn: shouldLearn,\n    contentToLearn: contentToLearn,\n    category: category,\n    originalUserInput: userInput,\n    agentResponse: agentOutput.substring(0, 500)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1536
      ],
      "id": "4650ba65-f68c-4f39-9d74-400e3f44966c",
      "name": "Detect New Knowledge"
    },
    {
      "parameters": {
        "collection": "n8n_chat_histories",
        "options": {
          "limit": 10,
          "sort": "={{ JSON.stringify({ timestamp: -1 }) }}"
        },
        "query": "={{ JSON.stringify({ sessionId: $json.sessionId }) }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        256,
        1360
      ],
      "id": "fe3baa13-84a3-432b-b014-73e0b4812946",
      "name": "Load Chat History",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "learning_memory",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        256,
        1184
      ],
      "id": "326da876-0a86-4d0e-ba5b-4f7bf297e66d",
      "name": "Load Learning Memory",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "customer_memory",
        "options": {},
        "query": "={{ JSON.stringify({ $or: [ { userId: $json.userId }, { chatId: $json.chatId } ] }) }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        256,
        976
      ],
      "id": "ea0a4d66-42e9-40f1-b8b1-da2c95645e90",
      "name": "Load Customer",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "wR5t7Mbd0bIPSXcv",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -352,
        992
      ],
      "id": "67d55526-de65-4a44-9ab9-621bc2905719",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "pY0x9kpc8XPIIprO",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {
    "Trigger từ Trợ lý chính": [
      {
        "json": {
          "prompt": "tạo bảng báo giá tên nguyễn văn c, sđt:0123456798, địa chỉ: hà nội. thông tin lấy từ vat lieu, san pham, ton kho từ tool gg sheet. lấy 5 loại sản phẩm khác nhau ngẫu nhiên.",
          "type": "text",
          "content": "tạo bảng báo giá tên nguyễn văn c, sđt:0123456798, địa chỉ: hà nội. thông tin lấy từ vat lieu, san pham, ton kho từ tool gg sheet. lấy 5 loại sản phẩm khác nhau ngẫu nhiên.",
          "metadata": "{\"fileName\":\"\",\"fileSize\":0,\"userName\":\"\",\"chatId\":\"\"}",
          "imageUrl": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Trigger từ Trợ lý chính": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Smart Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save Chat History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect New Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Generate HTML Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Learning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect New Knowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Generate HTML Quote": {
      "main": [
        [
          {
            "node": "Convert HTML to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Quote to MongoDB": {
      "main": [
        [
          {
            "node": "Save Quote to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Quote to Sheets": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Save Learning": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Customer": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Paths": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "San pham": {
      "ai_tool": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vat lieu": {
      "ai_tool": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ton kho": {
      "ai_tool": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tro ly ke toan": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File to PDF": {
      "main": [
        [
          {
            "node": "Save Quote to MongoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare PDF for Convert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare PDF for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to File": {
      "main": [
        [
          {
            "node": "Convert File to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF for Upload": {
      "main": [
        [
          {
            "node": "Upload PDF to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to Image": {
      "main": [
        [
          {
            "node": "Prepare Image for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image for Upload": {
      "main": [
        [
          {
            "node": "Upload Image to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF for Convert": {
      "main": [
        [
          {
            "node": "Convert PDF to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chat History": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tro ly ke toan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Google Drive": {
      "main": [
        [
          {
            "node": "Share PDF Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share PDF Public": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Google Drive": {
      "main": [
        [
          {
            "node": "Share Image Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Image Public": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Smart Search": {
      "main": [
        [
          {
            "node": "Search RAG Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search RAG Knowledge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Learning Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Knowledge": {
      "main": [
        [
          {
            "node": "Load Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Learning Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Learn": {
      "main": [
        [
          {
            "node": "Execute Save to RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Knowledge": {
      "main": [
        [
          {
            "node": "If Should Learn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Learning Memory": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Load Customer": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Merge All Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2cde54db-244e-4e8f-b91f-0b6b31b5f97c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f79905368cdd8aefd97993159c6f1b332d2bef60e6af085cda589aa3db810691"
  },
  "id": "2AKCYsUUcOUMdi4M",
  "tags": []
}